{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="{% url 'recurring-deposits:recurring-deposit-list' %}">Recurring Deposits</a></li>
    <li><a href="#">{{operation}}</a></li>
  </ul>
{% endblock viewname %}

{% block content %}
<section class="py-5">
  <div class="container px-5 ml-3">
    <div class="rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="custom-row gx-5 justify-content-flex-start">
        <div class="col-lg-8 col-xl-6">
          <form method="POST">
            {% csrf_token %}
            <div class="row">
              <div class='col-sm-6'>
                {% if message_color == 'green' %}
                <div class="alert alert-success fade in alert-dismissible show" style="margin-top:18px;">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size:20px">×</span>
                  </button>    <strong>Success!</strong> {{message}}
                </div>
                {% elif message_color == 'red' %}
                <div class="alert alert-danger fade in alert-dismissible show" style="margin-top:18px;">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size:20px">×</span>
                  </button>    <strong>Error!</strong> {{message}}
                </div>
                {% endif %}
                
                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="number">Number <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="text" id="number" name="number" value="{{number}}" required="true">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="bank_name">Bank Name <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="text" id="bank_name" name="bank_name" value="{{bank_name}}" required="true">
                </div>
                
                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="start_date">Start Date <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="date" id="start_date" name="start_date" value="{{start_date}}" required="true">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="user">User <span style="color:red;">*</span></label></div>
                  <select id="id_user" name="user" class="form-control" required="true"></select>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="goal">Goal</label></div>
                  <select id="id_goal" name="goal" class="form-control"></select>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="principal">Principal <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="number" id="principal" name="principal" value="{{principal}}" required="true">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="roi">Rate of Interest <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="number" id="roi" name="roi" value="{{roi}}" placeholder="1.0" step="0.01" min="0" max="20" required="true">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="time_period_days">Time period (months) <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="number" id="time_period_months" name="time_period_months" value="{{time_period_months}}" required="true">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="final_val">Maturity Value <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="number" id="final_val" name="final_val" value="{{final_val}}"> 
                  <button type="submit" class="btn btn-primary btn-sm" name="calculate">Calculate</button>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="mat_date">Maturity Date <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="date" id="mat_date" name="mat_date" value="{{mat_date}}">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="notes">Notes</label></div>
                  <textarea class="form-control" name="notes">{{notes|default_if_none:""}}</textarea>
                </div>

                <div class="form-floating mb-3">
                  <button type="submit" class="btn btn-primary" name="submit">Submit</button>
                  <a href="../" class="btn btn-danger" role="button">Cancel</a>
                </div>
                
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block javascript %}
  {% load static %}
  <script src="{% static 'common.js' %}"></script>
  <script>
    set_user_list({{users|safe}}, '{{user|safe}}');
    {% if goals %}
      var resp = {"goal_list":{{goals|safe}}};
      get_goals_and_set_goal(resp)
    {% endif %}
    function get_goals_and_set_goal(response) {
      set_goals(response, '{{goal|safe}}');
    }
  </script>
{% endblock %}