{% extends 'base.html' %} 
{% load template_filters %}
{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="#">EPFs</a></li>
  </ul>
{% endblock %} 

{% block applicableactions %} 
    <a href="create"><i class="fa fa-plus" aria-hidden="true" title="Add EPF" style="font-size: 1.2em;"></i></a>
{% endblock applicableactions %}
{% block canvas %}{% endblock canvas %}

{% block content %}
  <table class="table table-hover dt-responsive" id="epf-table" style="width:100%">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Number</th>
        <th scope="col">Company</th>
        <th scope="col">Start Date</th>
        <th scope="col">User</th>
        <th scope="col">Goal</th>
        <th scope="col">Employee Contribution</th>
        <th scope="col">Employer Contribution</th>
        <th scope="col">Interest Contribution</th>
        <th scope="col">Total</th>
        <th scope="col">ROI</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for instance in object_list %}
      <tr>
        <th scope="row">{{ instance.id }}</th>

        <td>
          <a href="{{ instance.get_absolute_url }}">{{ instance.number }}</a>
        </td>
        <td>{{ instance.company }}</td>
        <td>{{ instance.start_date }}</td>
        <td>{{ user_name_mapping |lookup:instance.user }}</td>
        <td>{{ goal_name_mapping|lookup:instance.goal }}</td>
        <td>{{ instance.employee_contribution }}</td>
        <td>{{ instance.employer_contribution }}</td>
        <td>{{ instance.interest_contribution }}</td>
        <td>{{ instance.total }}</td>
        <td>{{ instance.roi }}</td>
        <td>
          <a href="{{ instance.get_absolute_url }}delete"><i class="fa fa-trash" aria-hidden="true"></i> </a>
          <a href="{{ instance.get_absolute_url }}update"><i class="far fa-edit" aria-hidden="true"></i> </a>
          <a href="{{ instance.get_absolute_url }}transactions"><i class="far fa-file-alt" aria-hidden="true"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

<script>
  {% block jquery %}
  $('#epf-table').DataTable();
  {% endblock jquery %}
</script>