{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="{% url 'epfs:epf-list' %}">EPFs</a></li>
    <li><a href="#">
      {% if object %}
        Update EPF
      {% else %}
        Create EPF
      {% endif %}
    </a></li>
  </ul>
{% endblock viewname %}

{% block content %}

  <form action="." method="POST">
    {% csrf_token %} {{ form.as_p }}
    <input type="submit" value="Submit" class="btn btn-primary"/>&nbsp;<a href="../" class="btn btn-danger" role="button">Cancel</a>
  </form>

{% endblock content %}

{% block javascript %}
  {% load static %}
  <script src="{% static 'common.js' %}"></script>
  <script>

  </script>
{% endblock javascript %}
