{% extends 'base.html' %} 

{% block applicableactions %}
    <a style="padding-left:25px;" href="add-contribution"><i class="fa fa-plus" aria-hidden="true" title="Add Contribution" style="font-size: 1.2em;"></i></a>
{% endblock applicableactions %} 

{%block canvas %}{% endblock canvas %}

{% block viewname %} {{object.number }} : {{object.company}} {% endblock viewname %}

{% block content %}
  <ul class="breadcrumb">
    <li><a href="{% url 'epfs:epf-list' %}">EPFs</a></li>
    <li><a href="#">{{ object.company }}</a></li>
  </ul>
  <table>
    <tr>
      <td>#</td>
      <td>{{ object.id }}</td>
    </tr>
    <tr>
      <td>Number</td>
      <td>{{ object.number }}</td>
    </tr>
    <tr>
      <td>Start Date</td>
      <td>{{ object.start_date }}</td>
    </tr>
    <tr>
      <td>User</td>
      <td>{{ user_str }}</td>
    </tr>
    <tr>
      <td>Goal</td>
      <td>{{ goal_str }}</td>
    </tr>
  </table>

  <div class='col-sm-6'>
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
{% endblock content %}

<script>
{% block jquery %}

{% endblock jquery %}
</script>