anyio==3.6.1
appdirs==1.4.4
asgiref==3.7.2
astroid==2.4.2
async-generator==1.10
attrs==23.1.0
autobahn==21.2.1
Automat==20.2.0
beautifulsoup4==4.11.1
bs4==0.0.1
bsedata==0.4.0
camelot-py==0.11.0
casparser==0.3.9
casparser-isin==2023.1.16
certifi==2024.7.4
cffi==1.15.1
channels==4.0.0
chardet==3.0.4
charset-normalizer==2.1.1
click==7.1.2
colorama==0.4.4
commonmark==0.9.1
constantly==15.1.0
cryptography==43.0.1
cssselect==1.1.0
daphne==3.0.1
dateutils==0.6.8
Deprecated==1.2.13
Django==5.0.11
django-anymail==8.6
django-login-required-middleware==0.9.0
django-solo==2.0.0
djangorestframework==3.15.2
enum34==1.1.10
et-xmlfile==1.1.0
feedfinder2==0.0.4
feedparser==6.0.2
filelock==3.0.12
frozendict==2.4.4
ghostscript==0.7
google-currency==1.0.9
gunicorn==22.0.0
h11==0.12.0
html5lib==1.1
httpcore==0.15.0
httpx==0.23.0
huey==2.3.0
hyperlink==20.0.1
idna==3.7
incremental==24.7.2
isort==5.6.4
jieba3k==0.35.1
joblib==1.2.0
lazy-object-proxy==1.4.3
lxml==5.2.1
mccabe==0.6.1
mftool==2.8
multitasking==0.0.9
nsetools==1.0.11
numpy==1.26.4
ofxparse==0.21
opencv-python==4.8.1.78
openpyxl==3.0.10
outcome==1.2.0
packaging==20.9
pandas==2.2.2
pdfminer.six==20240706
peewee==3.17.0
pillow==10.3.0
psycopg2-binary==2.9.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.15.0
PyHamcrest==2.0.2
pylint==2.6.0
pyOpenSSL==24.2.1
pyotp==2.4.1
pyparsing==2.4.7
pypdf==4.3.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.21.0
pytz==2022.6
pyxirr==0.10.3
PyYAML==6.0.1
rapidfuzz==2.13.7
regex==2021.10.8
requests==2.32.0
requests-file==1.5.1
rfc3986==1.5.0
rich==12.6.0
robin-stocks==2.1.0
rope==0.18.0
selenium==4.4.3
semver==2.13.0
service-identity==18.1.0
setuptools==70.0.0
sgmllib3k==1.0.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.0.1
sqlparse==0.5.0
tabulate==0.8.9
tika==1.24
tinysegmenter==0.3
tldextract==3.1.0
toml==0.10.2
tqdm==4.66.4
trio==0.21.0
trio-websocket==0.9.2
Twisted==24.7.0
txaio==20.12.1
typing_extensions==4.11.0
tzdata==2024.1
urllib3==1.26.19
wcwidth==0.2.5
webencodings==0.5.1
wheel==0.40.0
whitenoise==6.5.0
wrapt==1.16.0
wsproto==1.2.0
yfinance==0.2.38
zope.interface==5.2.0
