asgiref==3.3.1
astroid==2.4.2
attrs==20.3.0
autobahn==20.12.3
Automat==20.2.0
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.4.5.1
cffi==1.14.4
channels==3.0.2
chardet==3.0.4
constantly==15.1.0
cryptography==3.4.4
daphne==3.0.1
dateutils==0.6.8
Django==2.2.19
django-solo==1.1.5
djangorestframework==3.11.2
huey==2.3.0
hyperlink==20.0.1
idna==2.9
incremental==17.5.0
isort==5.6.4
lazy-object-proxy==1.4.3
mccabe==0.6.1
mftool==1.8
nsetools==1.0.11
numpy==1.19.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
pylint==2.6.0
pyOpenSSL==20.0.1
pyotp==2.4.1
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2019.3
requests==2.23.0
scipy==1.6.0
selenium==3.141.0
service-identity==18.1.0
six==1.14.0
soupsieve==2.0.1
sqlparse==0.3.1
toml==0.10.2
Twisted==20.3.0
txaio==20.12.1
urllib3==1.25.9
wcwidth==0.2.5
whitenoise==5.2.0
wrapt==1.12.1
zope.interface==5.2.0
