{% extends "base.html" %}

{% block style %}
<style>
  /* Center the loader */
  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  .myDiv {
    display: block;
    text-align: center;
    width:900;
    height:380;
  }

  
  </style>
  {% endblock style %}
{% block viewname %}Dashboard{% endblock viewname %}
{% block applicableactions %} 
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span data-feather="calendar"></span>
      Interval
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" id="action-week">Week</a>
        <a class="dropdown-item" href="#" id="action-month">Month</a>
        <a class="dropdown-item" href="#" id="action-year">Year</a>
        <a class="dropdown-item" href="#" id="action-ytd">YTD</a>
        <a class="dropdown-item" href="#" id="action-all">All</a>
      </div>
    </button>
  </div>
{% endblock applicableactions %}

{% block content %}

<div width="900" height="380" id="loader" class="myDiv">&nbsp;</div>
    All
    <hr>
    <div class="row">
        <div class='col-sm-3'>
            <canvas id="all_classificationChart" width="300" height="200"></canvas>
        </div>
        <div class='col-sm-4'>
            <canvas id="all_distributionChart" width="300" height="150"></canvas>
        </div>
        <div class='col-sm-3'>
            <canvas id="all_statusChart" width="300" height="200"></canvas>
        </div>
    </div>
    <br><br>
    {% for key, value in users.items %}
        {{value.name}}
        <hr>
        <div class="row">
            <div class='col-sm-3'>
                <canvas id="{{key}}_classificationChart" width="300" height="200"></canvas>
            </div>
            <div class='col-sm-4'>
                <canvas id="{{key}}_distributionChart" width="300" height="150"></canvas>
            </div>
            <div class='col-sm-3'>
                <canvas id="{{key}}_statusChart" width="300" height="200"></canvas>
            </div>
        </div>
        <br><br>
    {% endfor %}
{% endblock content %}

<script>
  {% block jquery %}
    var investmentdataendpoint = '/api/chart/investmentdata/'
    var debt_equity_labels = ['Debt', 'Equity']
    var status_labels = ['Achieved', 'Remaining']

    var users = {{users|safe}}
    var all = {{all|safe}}
    var debt_equity = [all.debt, all.equity]
    var distribution_vals = all.distrib_vals
    var status_vals = [all.achieved, all.remaining]
    var distribution_labels = all.distrib_labels
    var distribution_colors = all.distrib_colors
    var x;
    var user;
    setChart('all',debt_equity,distribution_vals, distribution_colors,status_vals)
    for (x in users) {
        console.log(x)
        user = users[x]
        console.log(user)
        data = user['data']
        console.log(data)
        debt_equity = [data.debt, data.equity]
        distribution_vals = data.distrib_vals
        distribution_labels = data.distrib_labels
        distribution_colors = data.distrib_colors
        status_vals = [data.achieved, data.remaining]
        setChart(x, debt_equity,distribution_vals, distribution_colors,status_vals)
    }
    let canvas = document.getElementById('myChart')
    canvas.style.display="none";

    $.ajax({
      method: "GET",
      url: investmentdataendpoint,
      success: function(investmentdata){
        document.getElementById("loader").style.display = "none";
        document.getElementById('myChart').style.display="block";
        console.log(investmentdata)
        setInvestmentChart(investmentdata)
      },
      error: function(error_data){
        document.getElementById("loader").style.display = "none";
        document.getElementById('myChart').style.display="block";
        console.log("error")
        console.log(error_data)
      }
    })
    function setInvestmentChart(investment_data) {
      var ctx = document.getElementById("myChart");
      var config = {
        type:    'line',
        data:    {
          datasets: [
            {
              label: "PPF",
              data: investment_data.ppf,
              fill: false,
              borderColor: '#92993c'
            },
            {
              label: "EPF",
              data: investment_data.epf,
              fill: false,
              borderColor: '#f15664'
            },
            {
              label: "SSY",
              data: investment_data.ssy,
              fill:  false,
              borderColor: '#f9c5c6'
            },
            {
              label: "FD",
              data: investment_data.fd,
              fill:  false,
              borderColor: '#006f75'
            },
            {
              label: "ESPP",
              data: investment_data.espp,
              fill:  false,
              borderColor: '#DC7633'
            },
            {
              label: "RSU",
              data: investment_data.rsu,
              fill:  false,
              borderColor: '#AA12E8'
            },
            {
              label: "Shares",
              data: investment_data.shares,
              fill:  false,
              borderColor: '#e31219'
            },
            {
              label: "Total",
              data: investment_data.total,
              fill:  false,
              borderColor: '#99A3A4'
            }
          ]
        },
        options: {
          responsive: true,
          title:      {
            display: true,
            text:    "Portfolio"
          },
          scales:     {
            xAxes: [{
              type:       "time",
              time:       {
                format: 'YYYY-MM-DD',
                tooltipFormat: 'll'
              },
              scaleLabel: {
                display:     true,
                labelString: 'Date'
              }
            }],
            yAxes: [{
              scaleLabel: {
                display:     true,
                labelString: 'Amount'
              }
            }]
          }
        }
      };
      var myChart = new Chart(ctx,config);
    }

    function setChart(id, debt_equity,distribution_vals, distribution_colors,status_vals){
      console.log(id)
      console.log(debt_equity)
      console.log(distribution_vals)
      console.log(distribution_colors)
      console.log(status_vals)

      var ctx = document.getElementById(id+'_classificationChart').getContext('2d');
      var config = {
        type: 'pie',
        data: {
          datasets: [{
            data: debt_equity,
            backgroundColor: [
              '#519463', '#a85b6a'
            ],
            label: 'Classification'
          }],
          labels: debt_equity_labels
        },
        options: {
          responsive: true,
          title: {
            display: true,
            text: 'Classification'
          }
        }
      };
      var ctx2 = document.getElementById(id+'_distributionChart').getContext('2d');
      var config2 = {
        type: 'doughnut',
        data: {
          datasets: [{
            data: distribution_vals,
            backgroundColor: distribution_colors,
            label: 'Distribution'
          }],
          labels: distribution_labels
        },
        options: {
          responsive: true,
          title: {
            display: true,
            text: 'Distribution'
          }
        }
      };
      var ctx3 = document.getElementById(id+'_statusChart').getContext('2d');
      var config3 = {
        type: 'pie',
        data: {
          datasets: [{
            data: status_vals,
            backgroundColor: [
              '#519463', '#a85b6a'
            ],
            label: 'Status'
          }],
          labels: status_labels
        },
        options: {
          responsive: true,
          title: {
            display: true,
            text: 'Goal Status'
          }
        }
      };
      var classificationChart = new Chart(ctx,config);
      var distributionChart = new Chart(ctx2, config2);
      var statusChart = new Chart(ctx3, config3);
    }
  {% endblock jquery %}
  </script>

{% block javascript %}
  <script>
      $('#action-week').click(function(e) {
        alert('week');
        e.preventDefault();// prevent the default anchor functionality
        var endpoint = '/user/api/chart/data/'
        $.ajax({
          method: "GET",
          url: endpoint,
          success: function(data){
            console.log(data)
            debt_equity = [data.debt, data.equity]
            distribution_vals = data.distrib_vals
            distribution_labels = data.distrib_labels
            distribution_colors = data.distrib_colors
            status_vals = [data.achieved, data.remaining]
            console.log("debt_equity values")
            console.log(debt_equity)
            console.log("distribution_vals values")
            console.log(distribution_vals)
            console.log("status_vals values")
            console.log(status_vals)
            setChart()
          },
          error: function(error_data){
            console.log("error")
            console.log(error_data)
          }
        })
      });
  </script>
{% endblock javascript %}