{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %} Add Goal {% endblock viewname %}

{% block content %}

  <form method="POST">
    {% csrf_token %} 
    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="{{name}}"><br><br>
    
    <label for="startdate">Start Date</label>
    <input type="date" id="startdate" name="startdate" value="{{startdate}}"><br><br>

    <label for="user">User</label>
    <input type="text" id="user" name="user" value="{{user}}"><br><br>

    <label for="curr_val">Current Value</label>
    <input type="number" id="curr_val" name="curr_val" value="{{curr_val}}"> <br><br>

    <label for="inflation">Inflation</label>
    <input type="number" id="inflation" name="inflation" placeholder="1.0" step="0.01" min="0" max="10" value="{{inflation}}"><br><br>
    
    <label for="time_period">Time period (months)</label>
    <input type="number" id="time_period" name="time_period" value="{{time_period}}"> <br><br>

    <label for="final_val">Final Value</label>
    <input type="number" id="final_val" name="final_val" value="{{final_val}}"> 
    <button type="submit" class="btn btn-primary" name="calculate">Calculate</button>
    <br><br>

    <label for="notes">Notes:</label>

    <textarea name="notes" rows="5" cols="20">
    </textarea> 
    <br>
    <button type="submit" class="btn btn-primary" name="submit">Submit</button>
  </form>

{% endblock content %}

{% block javascript %}
  <script>
    $("#id_username").change(function () {
      console.log( $(this).val() );
    });
  </script>
{% endblock %}