{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %} Add Recurring Pay Goal {% endblock viewname %}

{% block content %}

  <form method="POST">
    {% csrf_token %} 
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group row">
                <label for="name" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-3">
                    <div class="md-form mt-0">
                        <input type="text" id="name" name="name" value="{{name}}">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="startdate" class="col-sm-3 col-form-label">Start Date</label>
                <div class="col-sm-3">
                    <div class="md-form mt-0">
                        <input type="date" id="startdate" name="startdate" value="{{startdate}}">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="user" class="col-sm-3 col-form-label">User</label>
                <div class="col-sm-3">
                    <div class="md-form mt-0">
                        <input type="text" id="user" name="user" value="{{user}}">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="curr_val" class="col-sm-3 col-form-label">Current Expense (Per Year)</label>
                <div class="col-sm-3">
                    <div class="md-form mt-0">
                        <input type="number" id="curr_val" name="curr_val" value="{{curr_val}}">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="inflation" class="col-sm-3 col-form-label">Inflation</label>
                <div class="col-sm-3">
                    <div class="md-form mt-0">
                        <input type="number" id="inflation" name="inflation" placeholder="1.0" step="0.01" min="0" max="10" value="{{inflation}}">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="time_period" class="col-sm-3 col-form-label">Accumulation period (years)</label>
                <div class="col-sm-3">
                    <div class="md-form mt-0">
                        <input type="number" id="time_period" name="time_period" value="{{time_period}}">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="expense_period" class="col-sm-3 col-form-label">Expense period (years)</label>
                <div class="col-sm-3">
                    <div class="md-form mt-0">
                        <input type="number" id="expense_period" name="expense_period" value="{{expense_period}}">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="roi_corpus" class="col-sm-3 col-form-label">ROI on corpus</label>
                <div class="col-sm-3">
                    <div class="md-form mt-0">
                        <input type="number" id="roi_corpus" name="roi_corpus" placeholder="1.0" step="0.01" min="0" max="10" value="{{roi_corpus}}">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="final_val" class="col-sm-3 col-form-label">Corpus</label>
                <div class="col-sm-6">
                    <div class="md-form mt-0">
                        <input type="number" id="final_val" name="final_val" value="{{final_val}}"> 
                        <button type="submit" class="btn btn-primary" name="calculate">Calculate</button>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="notes" class="col-sm-3 col-form-label">Notes:</label>
                <div class="col-sm-3">
                    <div class="md-form mt-0">
                        <textarea name="notes" rows="5" cols="20"></textarea>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" name="submit">Submit</button>
        </div>
        <div class='col-sm-6'>
            <canvas id="bar-chart-grouped" width="800" height="450"></canvas>
        </div>
    </div>
  </form>

{% endblock content %}

<script>
{% block jquery %}
console.log({{ labels|safe }})
new Chart(document.getElementById("bar-chart-grouped"), {
    type: 'bar',
    data: {
      labels: {{ labels|safe }},
      datasets: [
        {
          label: "Corpus",
          backgroundColor: "#3e95cd",
          data: {{corpus_vals}}
        }, {
          label: "Expenses",
          backgroundColor: "#8e5ea2",
          data: {{expense_vals}}
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Corpus Depletion {{final_val}}'
      }
    }
});
{% endblock jquery %}
</script>