{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %}
    <ul class="breadcrumb">
        <li><a href="{% url 'goals:goal-list' %}">Goals</a></li>
        <li><a href="#">{{operation}}</a></li>
    </ul>
{% endblock viewname %}

{% block content %}

<section class="py-5">
  <div class="container px-5 ml-3">
    <div class="rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="custom-row gx-5 justify-content-flex-start">
        <div class="col-lg-8 col-xl-6">
          <form method="POST">
            {% csrf_token %} 
            <div class="custom-row">
              {% if message_color == 'green' %}
              <div class="alert alert-success fade in alert-dismissible show" style="margin-top:18px;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true" style="font-size:20px">×</span>
                </button>    <strong>Success!</strong> {{message}}
              </div>
              {% elif message_color == 'red' %}
              <div class="alert alert-danger fade in alert-dismissible show" style="margin-top:18px;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true" style="font-size:20px">×</span>
                </button>    <strong>Error!</strong> {{message}}
              </div>
              {% endif %}
              <div class="form-floating mb-3">
                <div class="pb-2"><label for="name">Name <span style="color:red;">*</span></label></div>
                <input class="form-control" type="text" id="name" name="name" value="{{name}}" required="true">
              </div>

              <div class="form-floating mb-3">
                <div class="pb-2"><label for="startdate">Start Date <span style="color:red;">*</span></label></div>
                <input class="form-control" type="date" id="startdate" name="startdate" value="{{startdate}}" required="true">
              </div>

              <div class="form-floating mb-3">
                <div class="pb-2"><label for="user">User <span style="color:red;">*</span></label></div>
                <select id="id_user" name="user" class="form-control" required="true"></select>
              </div>

              <div class="form-floating mb-3">
                <div class="pb-2"><label for="curr_val">Current Expense (Per Year) <span style="color:red;">*</span></label></div>
                <input class="form-control" type="number" id="curr_val" name="curr_val" value="{{curr_val}}" required="true">
              </div>

              <div class="form-floating mb-3">
                <div class="pb-2"><label for="inflation">Inflation <span style="color:red;">*</span></label></div>
                <input class="form-control" type="number" id="inflation" name="inflation" placeholder="1.0" step="0.01" min="0" max="10" value="{{inflation}}" required="true">
              </div>

              <div class="form-floating mb-3">
                <div class="pb-2"><label for="time_period">Accumulation period (years) <span style="color:red;">*</span></label></div>
                <input class="form-control" type="number" id="time_period" name="time_period" value="{{time_period}}" required="true">
              </div>

              <div class="form-floating mb-3">
                <div class="pb-2"><label for="expense_period">Expense period (years) <span style="color:red;">*</span></label></div>
                <input class="form-control" type="number" id="expense_period" name="expense_period" value="{{expense_period}}" required="true">
              </div>

              <div class="form-floating mb-3">
                <div class="pb-2"><label for="roi_corpus">ROI on corpus <span style="color:red;">*</span></label></div>
                <input class="form-control" type="number" id="roi_corpus" name="roi_corpus" placeholder="1.0" step="0.01" min="0" max="10" value="{{roi_corpus}}" required="true">
              </div>

              <div class="form-floating mb-3">
                <div class="pb-2"><label for="final_val">Corpus <span style="color:red;">*</span></label></div>
                <input class="form-control" type="number" id="final_val" name="final_val" value="{{final_val}}"> 
                <button type="submit" class="btn btn-primary" name="calculate">Calculate</button>
              </div>

              <div class="form-floating mb-3">
                <div class="pb-2"><label for="notes">Notes</label></div>
                <textarea name="notes" class="form-control">{{notes|default_if_none:""}}</textarea>
              </div>

              <div class="form-floating mb-3">
                <button type="submit" class="btn btn-primary" name="submit">Submit</button>&nbsp;
                <a href="../" class="btn btn-danger" role="button">Cancel</a>
              </div>

              <!--div class='col-sm-12 col-md-6 col-lg-4' style="width:95%;height:50vh"-->
              <div class="form-floating mb-3">
                  <canvas id="bar-chart-grouped" style="width:95%;height:50vh"></canvas>
              </div>

            </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

{% block javascript %}
    {% load static %}
    <script src="{% static 'common.js' %}"></script>
    <script>
    set_user_list({{users|safe}}, '{{user|safe}}');

    function get_goals_and_set_goal(response) {
        set_goals(response, '{{goal|safe}}');
    }
    </script>
{% endblock javascript %}

<script>
    {% block jquery %}
    {%if labels %}
        setChart({{labels|safe}}, {{corpus_vals}}, {{expense_vals}})
    {% endif %}

    function setChart(labels, corpus_vals, expense_vals) {
        console.log(labels)
        console.log(corpus_vals)
        console.log(expense_vals)
        new Chart(document.getElementById("bar-chart-grouped"), {
            type: 'bar',
            data: {
            labels: labels,
            datasets: [
                {
                label: "Corpus",
                backgroundColor: "#3e95cd",
                data: corpus_vals
                }, 
                {
                label: "Expenses",
                backgroundColor: "#8e5ea2",
                data: expense_vals
                }
            ]
            },
            options: {
                responsive:true,
                maintainAspectRatio:false,
                title: {
                    display: true,
                    text: 'Corpus Depletion'
                }
            }
        });
    }
    {% endblock jquery %}
</script>