{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="{% url 'goals:goal-list' %}">Goals</a></li>
    <li><a href="#">  {% if name %}
      Update Goal
    {% else %}
      Add Goal
    {% endif %}</a></li>
  </ul>
{% endblock viewname %}

{% block content %}
  <form method="POST">
    {% csrf_token %}
    <div class="row">
      <div class='col-sm-6'>
        
        <div class="form-group row">
          <label for="name" class="col-sm-3 col-form-label">Name <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <input type="text" id="name" name="name" value="{{name}}" required="true">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="startdate" class="col-sm-3 col-form-label">Start Date <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <input type="date" id="startdate" name="startdate" value="{{startdate}}" required="true">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="user" class="col-sm-3 col-form-label">User <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <select id="user" name="user" class="form-control" required="true"></select>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="curr_val" class="col-sm-3 col-form-label">Current Value <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <input type="number" id="curr_val" name="curr_val" value="{{curr_val}}" required="true"> 
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inflation" class="col-sm-3 col-form-label">Inflation <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <input type="number" id="inflation" name="inflation" placeholder="1.0" step="0.01" min="0" max="10" value="{{inflation}}" required="true">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="time_period" class="col-sm-3 col-form-label">Time period (months) <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <input type="number" id="time_period" name="time_period" value="{{time_period}}" required="true"> 
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="final_val" class="col-sm-3 col-form-label">Final Value <span style="color:red;">*</span></label>
          <div class="col-sm-6">
            <div class="md-form mt-0">
              <input type="number" id="final_val" name="final_val" value="{{final_val}}"> 
              <button type="submit" class="btn btn-primary" name="calculate">Calculate</button>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="notes" class="col-sm-3 col-form-label">Notes</label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <textarea name="notes" rows="5" cols="20">{{notes}}</textarea>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <div class="md-form mt-0">
              <button type="submit" class="btn btn-primary" name="submit">Submit</button>
              <a href="../" class="btn btn-danger" role="button">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

{% endblock content %}

{% block javascript %}
  <script>
    var users = {{users|safe}}
    var sel_user = '{{user|safe}}'
    var userdropdown = document.getElementById('user');
    var opt = document.createElement('option');
    // create text node to add to option element (opt)
    opt.appendChild( document.createTextNode('') );
    // set value property of opt
    opt.value = ''; 
    // add opt to end of select box (sel)
    userdropdown.appendChild(opt);
    console.log(users);
    for (x in users) {
      user = users[x]
      console.log(user)
      // create new option element
      var opt = document.createElement('option');
      // create text node to add to option element (opt)
      opt.appendChild( document.createTextNode(user) );
      // set value property of opt
      opt.value = x;
      if (opt.value == sel_user) {
        opt.selected = true;
      }
      // add opt to end of select box (sel)
      userdropdown.appendChild(opt);
    }
    $("#id_username").change(function () {
      console.log( $(this).val() );
    });
  </script>
{% endblock %}