{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="{% url 'goals:goal-list' %}">Goals</a></li>
    <li><a href="#">{{operation}}</a></li>
  </ul>
{% endblock viewname %}

{% block content %}
<section class="py-5">
  <div class="container px-5 ml-3">
    <div class="rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="custom-row gx-5 justify-content-flex-start">
        <div class="col-lg-8 col-xl-6">
          <form method="POST">
            {% csrf_token %}
            <div class="custom-row">
              {% if message_color == 'green' %}
              <div class="alert alert-success fade in alert-dismissible show" style="margin-top:18px;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true" style="font-size:20px">×</span>
                </button>    <strong>Success!</strong> {{message}}
              </div>
              {% elif message_color == 'red' %}
              <div class="alert alert-danger fade in alert-dismissible show" style="margin-top:18px;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true" style="font-size:20px">×</span>
                </button>    <strong>Error!</strong> {{message}}
              </div>
              {% endif %}
              <div class="form-floating mb-3">
                <div class="pb-2"><label for="name">Name <span style="color:red;">*</span></label></div>
                <input class="form-control" type="text" id="name" name="name" value="{{name}}" required="true">
              </div>

              <div class="form-floating mb-3">
                <div class="pb-2"><label for="startdate">Start Date <span style="color:red;">*</span></label></div>
                <input class="form-control" type="date" id="startdate" name="startdate" value="{{startdate}}" required="true">
              </div>

              <div class="form-floating mb-3">
                <div class="pb-2"><label for="user">User <span style="color:red;">*</span></label></div>
                <select class="form-control" id="user" name="user" required="true"></select>
              </div>

              <div class="form-floating mb-3">
                <div class="pb-2"><label for="curr_val">Current Value <span style="color:red;">*</span></label></div>
                <input class="form-control" type="number" id="curr_val" name="curr_val" value="{{curr_val}}" required="true">
              </div>

              <div class="form-floating mb-3">
                <div class="pb-2"><label for="inflation">Inflation <span style="color:red;">*</span></label></div>
                <input class="form-control" type="number" id="inflation" name="inflation" placeholder="1.0" step="0.01" min="0" max="20" value="{{inflation}}" required="true">
              </div>

              <div class="form-floating mb-3">
                <div class="pb-2"><label for="time_period">Time period (months) <span style="color:red;">*</span></label></div>
                <input class="form-control" type="number" id="time_period" name="time_period" value="{{time_period}}" required="true">
              </div>

              <div class="form-floating mb-3">
                <div class="pb-2"><label for="final_val">Final Value <span style="color:red;">*</span></label></div>
                <input class="form-control" type="number" id="final_val" name="final_val" value="{{final_val}}" required="true">
              </div>

              <div class="form-floating mb-3">
                <div class="pb-2"><label for="notes">Notes</label></div>
                <textarea class="form-control" name="notes">{{notes|default_if_none:""}}</textarea>
              </div>

              <div class="form-floating mb-3">
                <button type="submit" class="btn btn-primary" name="submit">Submit</button>
                <a href="../" class="btn btn-danger" role="button">Cancel</a>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block javascript %}
  <script>
    var users = {{users|safe}}
    var sel_user = '{{user|safe}}'
    var userdropdown = document.getElementById('user');
    var opt = document.createElement('option');
    // create text node to add to option element (opt)
    opt.appendChild( document.createTextNode('') );
    // set value property of opt
    opt.value = ''; 
    // add opt to end of select box (sel)
    userdropdown.appendChild(opt);
    console.log(users);
    for (x in users) {
      user = users[x]
      console.log(user)
      // create new option element
      var opt = document.createElement('option');
      // create text node to add to option element (opt)
      opt.appendChild( document.createTextNode(user) );
      // set value property of opt
      opt.value = x;
      if (opt.value == sel_user) {
        opt.selected = true;
      }
      // add opt to end of select box (sel)
      userdropdown.appendChild(opt);
    }
    $("#id_username").change(function () {
      console.log( $(this).val() );
    });
    $("#time_period").change(function () {
      setTransPrice();
    });
    $("#inflation").change(function () {
      setTransPrice();
    });
    $("#curr_val").change(function () {
      setTransPrice();
    });
    function setTransPrice(){
      var timePeriodElem = document.getElementById("time_period");
      var timePeriod = timePeriodElem.value
      var inflationElem = document.getElementById("inflation");
      var inflation = inflationElem.value
      var currValueElem = document.getElementById("curr_val");
      var currValue = currValueElem.value
      var finalValueElem = document.getElementById("final_val");
      var finalValue = finalValueElem.value

      if (timePeriod!= '' && inflation!='' && currValue!='') {
        get_inflation_value(currValue, inflation, timePeriod);
        //finalValue = get_inflation_value(currValue, inflation, timePeriod)
        //if (finalValue != '') {
        //  console.log('got result '+finalValue)
        //  finalValueElem.value = finalValue
        //}
      }
    }
    function get_inflation_value(currValue, inflation, timePeriod){
        ep = '/goal/api/get/inflation-value/'+parseFloat(currValue).toFixed(2)+'/'+parseFloat(inflation).toFixed(2)+'/'+timePeriod+'/';
        console.log('getting inflation values from', ep)
        $.ajax({
            method:"GET",
            url:ep,
            async: false,
            success: function(data){
              console.log(data)
              var finalValueElem = document.getElementById("final_val");
              finalValueElem.value = data.value
            },
            error: function(error_data){
              console.log("error")
              console.log(error_data)
            }
        })
    }
  </script>
{% endblock %}