{% extends 'base.html' %} 

{% block viewname %} 
  <ul class="breadcrumb">
    <li><a href="#">Goals</a></li>
  </ul>
{% endblock %} 

{% block applicableactions %}
    <a href="create"><i class="fa fa-plus" aria-hidden="true" title="Add Goal" style="font-size: 1.2em;"></i></a>
    <a href="create-retirement" style="padding-left:15px;"><i class="fas fa-seedling" aria-hidden="true" title="Add Retirement Goal" style="font-size: 1.2em;"></i></a>
{% endblock applicableactions %}
{% block canvas %}{% endblock canvas %}

{% block content %}
  <table class="table table-borderless">
    <tr>
      <td><ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" href="#">Goals List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="insights">Insights</a>
        </li>
      </ul></td>
    </tr>
    <tr>
      <td style="text-align:right"><b># of goals:</b> {{total_goals}} &nbsp;&nbsp;&nbsp;<b>Target:</b> {{target}} &nbsp;&nbsp;&nbsp;<b>Achieved:</b> {{achieved}} ({{ach_per}}%)&nbsp;&nbsp;&nbsp;<b>Unallocated:</b> {{unalloc}}
      </tr>
    </table>
    <table class="table table-hover" id="goal-table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">Time Period</th>
        <th scope="col">End Date</th>
        <th scope="col">Target Value</th>
        <th scope="col">Achieved</th>
        <th scope="col">Achieved %</th>
        <th scope="col">User</th>
        <th scope="col">Notes</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for instance in object_list %}
      <tr>
        <td>{{ forloop.counter }}</td>

        <td>
          <a href="{% url 'goals:goal-detail' instance.id %}">{{ instance.name }}</a>
        </td>
        <td>{{ instance.start_date }}</td>
        <td>{{ instance.time_period }}</td>
        <td>{{ instance.end_date }}</td>
        <td>{{ instance.final_val }}</td>
        <td>{{ instance.achieved_amt }}</td>
        <td> {{ instance.achieved_percent }}</td>
        <td>{{ user_name_mapping |lookup:instance.user }}</td>
        <td>{{ instance.notes }}</td>
        <td>
          <a href="{% url 'goals:goal-delete' instance.id %}"><i class="fa fa-trash"  aria-hidden="true"></i> </a>
          <a href="{% url 'goals:goal-update' instance.id %}" style="padding-left:10px;" ><i class="far fa-edit" aria-hidden="true"></i> </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

<script>
  {% block jquery %}
  $('#goal-table').DataTable({
    "columnDefs": [
      { "type": "date", "targets": [2, 4] }
    ],
    "order": [[ 4, "asc" ]]
  });
  {% endblock jquery %}
</script>