{% extends 'base.html' %} 

{% block viewname %} Delete RSU Vest Entry {% endblock %}


{% block canvas %}{% endblock canvas %}

{% block applicableactions %} {% endblock applicableactions %} 
{% block content %}

<form action="." method="POST">
  {% csrf_token %}
  <h2>Do you want to delete the RSU Vest Entry {{ object.award.symbol }} {{ object.vest_date }}?</h2>
  <p><input type="submit" value="Submit" class="btn btn-danger"/>&nbsp;<a href="../../vest" class="btn btn-primary" role="button">Cancel</a></p>
</form>

{% endblock %}
