{% extends 'base.html' %} 

{% block applicableactions %} 
<a style="padding-left:20px;" href="vest"><i class="far fa-file-alt" aria-hidden="true" title="Transactions" style="font-size: 1.2em;"></i></a>
{% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %} 
<ul class="breadcrumb">
  <li><a href="{% url 'rsus:rsu-list' %}">RSU</a></li>
  <li><a href="../">{{object.symbol}}/{{object.award_id}}</a></li>
</ul> 
{% endblock %} 

{% block content %}
<div class="row" style="padding:16px;">
  <div id="tempChart" style="width:100%;height:100vh;box-shadow: 6px 6px 6px 6px #888888;" class='col-sm-4 col-md-3 col-lg-3'>
    <table class="table">
        <tr><th scope="col">Exchange</th><td>{{object.exchange}} </td></tr>
        <tr><th scope="col">Symbol</th><td>{{object.symbol}}</td></tr>
        <tr><th scope="col">User</th><td>{{user_str}}</td></tr>
        <tr><th scope="col">Award ID</th><td>{{object.award_id}}</td></tr>
        <tr><th scope="col">Award Date</th><td>{{object.award_date}}</td></tr>
        <tr><th scope="col">Shares Awarded</th><td>{{object.shares_awarded}}</td></tr>
        <tr><th scope="col">Shares Vested</th><td>{{vested_shares}}</td></tr>
        <tr><th scope="col">Shares For Sale At Vest</th><td>{{shares_for_sale}}</td></tr>
        <tr><th scope="col">Unvested Shares</th><td>{{unvested_shares}}</td></tr>
        <tr><th scope="col">Total Aquisition Price</th><td>{{preferred_currency}} {{total_aquisition_price}}</td></tr>
        <tr><th scope="col">Unsold Quantity</th><td>{{unsold_shares}}</td></tr>
        <tr><th scope="col">Latest Conversion Price</th><td>{{preferred_currency}} {{latest_conversion_rate}}</td></tr>
        <tr><th scope="col">Latest Price</th><td>{{currency}} {{latest_price}}</td></tr>
        <tr><th scope="col">Latest Value</th><td>{{preferred_currency}} {{latest_value}}</td></tr>
        <tr><th scope="col">As on Date</th><td>{{as_on_date}}</td></tr>
        <tr><th scope="col">Realised Gain</th><td>{{preferred_currency}} {{realised_gain}}</td></tr>
        <tr><th scope="col">Unrealised Gain</th><td>{{preferred_currency}} {{unrealised_gain}}</td></tr>
        <tr><th scope="col">Tax at Vest</th><td>{{preferred_currency}} {{tax_at_vest}}</td></tr>
    </table>
  </div>
  <div class='col-sm-3 col-md-1 col-lg-1'></div>
  <div class='col-sm-4 col-md-6 col-lg-4'>
    <div class="row">
      <div id="tempChart" style="width:100%;height:46vh;box-shadow: 6px 6px 6px 6px #888888;" >
        <canvas id="myChart"></canvas>
      </div>
      <!--div class='col-sm-3 col-md-1 col-lg-1'></div-->
      <p>&nbsp;</p>
      
      <div id="compChart" style="width:100%;height:46vh;box-shadow: 6px 6px 6px 6px #888888;">
        <canvas id="compare"></canvas>
      </div>
    </div>
  </div>
</div>
<br>

{% endblock content %}

{% block javascript %}
  {% load static %}
  <script src="{% static 'common.js' %}"></script>
  <script>
  {%if comp_vals %}
    set_comparision_chart({{my_vals|safe}}, {{comp_vals|safe}}, {{chart_labels|safe}}, "{{my_name}}", "{{comp_name}}")
  {% endif %}
  </script>
{% endblock javascript %}


<script>
  {% block jquery %}
  var progressdata = {{progress_data|safe}}
  if (!jQuery.isEmptyObject(progressdata)) {
      setProgressChart(progressdata)
  }

  function setProgressChart(progress_data) {
    var ctx = document.getElementById("myChart");
    var config = {
      type:    'line',
      data:    {
        datasets: progress_data
      },
      options: {
        responsive: true,
        maintainAspectRatio:false,
        title:      {
          display: true,
          text:    "Progress"
        },
        scales:     {
          xAxes: [{
            type:       "time",
            time:       {
              format: 'YYYY-MM-DD',
              tooltipFormat: 'll'
            },
            scaleLabel: {
              display:     true,
              labelString: 'Date'
            }
          }],
          yAxes: [{
            scaleLabel: {
              display:     true,
              labelString: 'Amount'
            }
          }]
        }
      }
    };
    var myChart = new Chart(ctx,config);
  }
  {% endblock jquery %}
</script>