{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="{% url 'rsus:rsu-list' %}">RSU</a></li>
    <li><a href="#">
      {% if object %}
        Update RSU Award
      {% else %}
        Create RSU Award
      {% endif %}
    </a></li>
  </ul>
{% endblock viewname %}

{% block content %}
<section class="py-5">
  <div class="container px-5 ml-3">
    <div class="rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="custom-row gx-5 justify-content-flex-start">
        <div class="col-lg-8 col-xl-6">
          <form action="." method="POST" class="form-horizontal">
            {% csrf_token %}
            <div class="custom-row">
                {% if message_color == 'green' %}
                <div class="alert alert-success fade in alert-dismissible show" style="margin-top:18px;">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size:20px">×</span>
                  </button>    <strong>Success!</strong> {{message}}
                </div>
                {% elif message_color == 'red' %}
                <div class="alert alert-danger fade in alert-dismissible show" style="margin-top:18px;">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size:20px">×</span>
                  </button>    <strong>Error!</strong> {{message}}
                </div>
                {% endif %}
                
                <div class="form-floating mb-3">
                  <div class="pb-2"><label  for="id_award_date">Award Date <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="date" name="award_date" value={{award_date}} placeholder="Select a date" required="" id="id_award_date">
                </div>
              
                <div class="form-floating mb-3">   
                  <div class="pb-2"><label  for="id_exchange">Exchange <span style="color:red;">*</span></label></div>
                  <select class="form-control" name="exchange" required="" id="id_exchange">
                        <option value="">---------</option>
                        <option value="NASDAQ">NASDAQ</option>
                        <option value="NYSE">NYSE</option>
                        <option value="BSE">BSE</option>
                        <option value="NSE">NSE</option>
                  </select>
                </div>
              
                <div class="form-floating mb-3">
                  <div class="pb-2"><label  for="id_symbol">Symbol <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="text" name="symbol" value="{{symbol}}" maxlength="20" required="" id="id_symbol">
                </div>
              
                <div class="form-floating mb-3">
                  <div class="pb-2"><label  for="id_award_id">Award id <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="text" name="award_id" value="{{award_id}}" maxlength="20" required="" id="id_award_id">
                </div>
              
                <div class="form-floating mb-3">
                  <div class="pb-2"><label  for="id_user">User <span style="color:red;">*</span></label></div>
                  <select class="form-control" name="user" required="" id="id_user"></select>
                </div>
              
                <div class="form-floating mb-3">
                  <div class="pb-2"><label  for="id_goal">Goal</label></div>
                  <select class="form-control" name="goal" id="id_goal">
                    <option value=""></option>
                  </select>
                </div>
              
                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="id_shares_awarded">Shares Awarded <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="number" step="0.0001" name="shares_awarded" value="{{shares_awarded}}" required="" id="id_shares_awarded">
                </div>
              
                <div class="form-floating mb-3">
                  <button type="submit" class="btn btn-primary" name="submit">Submit</button>
                  <a href="../" class="btn btn-danger" role="button">Cancel</a>
                </div>
                
              </div>
            </div>
          </form>
       </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block javascript %}
  {% load static %}
  <script src="{% static 'common.js' %}"></script>
  <script>
    set_user_list({{users|safe}}, '{{user|safe}}');

    function get_goals_and_set_goal(response) {
      set_goals(response, '{{goal|safe}}');
    }
  </script>
{% endblock javascript %}