{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %} 
  <ul class="breadcrumb">
    <li><a href="{% url 'gold:trans-list' %}">Gold</a></li>
    <li><a href="#">Add Buy Transaction</a></li>
  </ul>
{% endblock viewname %}

{% block content %}
<section class="py-5">
  <div class="container px-5 ml-3">
    <div class="rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="custom-row gx-5 justify-content-flex-start">
        <div class="col-lg-8 col-xl-6">
          <form method="POST">
            {% csrf_token %}
            <div class="custom-row">

                {% if message_color == 'green' %}
                <div class="alert alert-success fade in alert-dismissible show" style="margin-top:18px;">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size:20px">×</span>
                  </button>    <strong>Success!</strong> {{message}}
                </div>
                {% elif message_color == 'red' %}
                <div class="alert alert-danger fade in alert-dismissible show" style="margin-top:18px;">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size:20px">×</span>
                  </button>    <strong>Error!</strong> {{message}}
                </div>
                {% endif %}

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="id_buy_type">Buy Type <span style="color:red;">*</span></label></div>
                  <select class="form-control" name="buy_type" required="true" id="id_buy_type">
                    <option value="">---------</option>
                    <option value="Physical">Physical</option>
                    <option value="Sovereign Gold Bond Scheme">Sovereign Gold Bond Scheme</option>
                    <option value="Other">Other</option>
                  </select>
                </div>

                <div class="form-floating mb-3" id="div_sgb_buy_type">
                  <div class="pb-2"><label for="id_sgb_buy_type">SGB Buy Type <span style="color:red;">*</span></label></div>
                  <select class="form-control" name="sgb_buy_type" id="id_sgb_buy_type">
                    <option value="">---------</option>
                    <option value="Bond">Bond</option>
                    <option value="Online">Online</option>
                  </select>
                </div>

                <div class="form-floating mb-3" id="div_tranche">
                  <div class="pb-2"><label for="id_tranche">Tranche <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="text" id="id_tranche" name="tranche" value="{{tranche}}">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="buy_date">Buy Date <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="date" id="buy_date" name="buy_date" value="{{buy_date}}" required="true">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="weight">Weight (gm) <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="number" id="id_weight" step="0.00001" name="weight" value="{{weight}}" required="true">
                </div>

                <div class="form-floating mb-3" id="div_purity">
                  <div class="pb-2"><label for="id_purity">Purity <span style="color:red;">*</span></label></div>
                  <select class="form-control" name="purity" id="id_purity">
                    <option value="24K">24K</option>
                    <option value="22K">22K</option>
                  </select>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="per_gram">Per Gram <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="number" step="0.0001" id="id_per_gram" name="per_gram" value="{{per_gram}}" required="true">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="buy_value">Buy Value <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="number" step="0.0001" id="buy_value" name="buy_value" value="{{buy_value}}" required="true">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="user">User <span style="color:red;">*</span></label></div>
                  <select class="form-control" id="id_user" name="user" required="true"></select>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="goal">Goal</label></div> 
                  <select class="form-control" id="id_goal" name="goal"></select>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="notes">Notes</label></div> 
                  <textarea class="form-control" name="notes">{{notes|default_if_none:""}}</textarea>
                </div>

                <div class="form-floating mb-3">
                  <button type="submit" class="btn btn-primary" name="submit">Submit</button>
                  <a href="../" class="btn btn-danger" role="button">Cancel</a>
                </div>
                
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}


{% block javascript %}

  {% load static %}
  <script src="{% static 'common.js' %}"></script>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    set_user_list({{users|safe}}, '{{user|safe}}');
    adjust_div_for_purity()
    $("#id_weight").change(function () {
      setTransPrice();
    });
    $("#id_per_gram").change(function () {
      setTransPrice();
    });
    $("#id_buy_type").change(function () {
      adjust_div_for_purity();
    });
    $("#id_sgb_buy_type").change(function () {
      adjust_div_for_purity();
    });
    function setTransPrice(){
      var perGramElem = document.getElementById("id_per_gram");
      var ppg = perGramElem.value
      var wtElem = document.getElementById("id_weight");
      var weight = wtElem.value
      console.log(ppg)
      console.log(weight)
      if (ppg!= '' && weight!='') {
        totalPrice = ppg*weight
        console.log(totalPrice)
        totalPriceElem = document.getElementById("buy_value")
        totalPriceElem.value = precise(totalPrice)
      }  
    }
    function precise(num) {
      //return Number.parseFloat(x).toPrecision(prec);
      return Math.round((num + Number.EPSILON) * 1000000) / 1000000
    }
    function adjust_div_for_purity() {
      var sel = document.getElementById('id_buy_type').value;
      if (sel == 'Physical') {
        document.getElementById("div_purity").style.display=null;
      } else {
        document.getElementById("div_purity").style.display="none";
      }
      var sgb_buy_type = document.getElementById('id_sgb_buy_type').value;
      console.log(sgb_buy_type)
      if (sel == 'Sovereign Gold Bond Scheme') {
        document.getElementById("div_tranche").style.display=null;
        document.getElementById("div_sgb_buy_type").style.display=null;
        document.getElementById("buy_date").readOnly = true;
        document.getElementById("id_per_gram").readOnly = true;
        if (sgb_buy_type == '') {
          document.getElementById("id_tranche").readOnly = true;
          document.getElementById("buy_date").value = "";
        } else {
          document.getElementById("id_tranche").readOnly = false;
        }
      } else {
        document.getElementById("div_tranche").style.display="none";
        document.getElementById("div_sgb_buy_type").style.display="none";
        document.getElementById("buy_date").readOnly = false;
        document.getElementById("id_per_gram").readOnly = false;
      }
    }
    $(function() {
      $( "#id_tranche" ).autocomplete({
        source: function( request, response ) {
          $.ajax({
            url: "/common/gold/avail_tranches",
            dataType: "json",
            data: {
              q: request.term,
            },
            success: function( data ) {
              response( data );
              //console.log(data);
            }
          });
        },
        minLength: 3,
        select: function( event, ui ) {
          console.log(ui.item);
          document.getElementById("div_tranche").value= this.value;
          document.getElementById("buy_date").value=ui.item.issue_date;
          var sgb_buy_type = document.getElementById('id_sgb_buy_type').value;
          if (sgb_buy_type == 'Online') {
            document.getElementById("id_per_gram").value = ui.item.online_price;
          } else {
            document.getElementById("id_per_gram").value = ui.item.price;
          }
        },
        open: function() {
          $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
        },
        close: function() {
          $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
        }
      });
    });
  </script>
{% endblock %}