{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="{% url 'ppfs:ppf-list' %}">PPFs</a></li>
    <li><a href="#">  {% if object %}
      Update PPF
    {% else %}
      Create PPF
    {% endif %}</a></li>
  </ul>
{% endblock viewname %}

{% block content %}
<form action="." method="POST">
  {% csrf_token %}
  <div class="row">
    <div class='col-sm-6'>

      <div class="form-group row">
        <label for="number" class="col-sm-3 col-form-label">Number <span style="color:red;">*</span></label>
        <div class="col-sm-3">
          <div class="md-form mt-0">
            <input type="text" id="number" name="number" value="{{number}}" required="true">
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="start_date" class="col-sm-3 col-form-label">Start Date <span style="color:red;">*</span></label>
        <div class="col-sm-3">
          <div class="md-form mt-0">
            <input type="date" id="start_date" name="start_date" value="{{start_date}}" required="true">
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="user" class="col-sm-3 col-form-label">User <span style="color:red;">*</span></label>
        <div class="col-sm-3">
          <div class="md-form mt-0">
            <select id="id_user" name="user" class="form-control" required="true"></select>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="goal" class="col-sm-3 col-form-label">Goal</label>
        <div class="col-sm-3">
          <div class="md-form mt-0">
            <select id="id_goal" name="goal" class="form-control"></select>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <div class="md-form mt-0">
            <button type="submit" class="btn btn-primary" name="submit">Submit</button>
            <a href="../" class="btn btn-danger" role="button">Cancel</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</form>

{% endblock content %}

{% block javascript %}
  {% load static %}
  <script src="{% static 'common.js' %}"></script>
  <script>
    set_user_list({{users|safe}}, '{{user|safe}}');

    function get_goals_and_set_goal(response) {
      set_goals(response, '{{goal|safe}}');
    }
  </script>
{% endblock javascript %}