{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %}
  {% if object %}
    Update PPF
  {% else %}
    Create PPF
  {% endif %}
{% endblock viewname %}

{% block content %}
  <ul class="breadcrumb">
    <li><a href="{% url 'ppfs:ppf-list' %}">PPFs</a></li>
    <li><a href="#">  {% if object %}
      Update PPF
    {% else %}
      Create PPF
    {% endif %}</a></li>
  </ul>
  <form action="." method="POST">
    {% csrf_token %} {{ form.as_p }}
    <input type="submit" value="Submit" class="btn btn-primary"/>&nbsp;<a href="../" class="btn btn-danger" role="button">Cancel</a>
  </form>

{% endblock content %}

{% block javascript %}
  {% load static %}
  <script src="{% static 'common.js' %}"></script>
{% endblock javascript %}