{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="{% url 'ppfs:ppf-list' %}">PPFs</a></li>
    <li><a href="#">Add PPF transaction</a></li>
  </ul>
{% endblock viewname %}

{% block content %}
  <form method="POST">
    {% csrf_token %}
    <div class="row">
      <div class='col-sm-6'>

        <div class="form-group row">
          <label for="fund_name" class="col-sm-3 col-form-label">Number</label>
          <div class="col-sm-6">
            <div class="md-form mt-0">
              <label>{{number}}</label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="trans_date" class="col-sm-3 col-form-label">Transaction Date</label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <input type="date" id="trans_date" name="trans_date" value="{{trans_date}}">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="entry_type" class="col-sm-3 col-form-label">Entry Type</label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <select id="entry_type" name="entry_type" class="form-control">
                <option value="Buy">Buy</option>
                <option value="Buy">Sell</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="amount" class="col-sm-3 col-form-label">Amount</label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <input type="number" id="amount" name="amount" value="{{amount}}" step="0.0001">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="int_comp" class="col-sm-3 col-form-label">Interest component?</label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <input type="checkbox" name="interest_component" id="interest_component" value="{{interest_component}}">
            </div>
          </div>
        </div>
        
        <div class="form-group row">
          <label for="notes" class="col-sm-3 col-form-label">Notes</label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <textarea name="notes" rows="5" cols="20">{{notes}}</textarea>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="reference" class="col-sm-3 col-form-label">Reference</label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <textarea name="reference" rows="5" cols="20">{{reference}}</textarea>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <div class="md-form mt-0">
              <button type="submit" class="btn btn-primary" name="submit">Submit</button>
              <a href="../" class="btn btn-danger" role="button">Cancel</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </form>
{% endblock content %}
