{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="{% url 'ppfs:ppf-list' %}">PPFs</a></li>
    <li><a href="{% url 'ppfs:ppf-detail' number %}">{{number}}</a></li>
    <li><a href="#">Add PPF transaction</a></li>
  </ul>
{% endblock viewname %}

{% block content %}
<section class="py-5">
  <div class="container px-5 ml-3">
    <div class="rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="custom-row gx-5 justify-content-flex-start">
        <div class="col-lg-8 col-xl-6">
          <form method="POST">
            {% csrf_token %}
            <div class="custom-row">
              {% if message_color == 'green' %}
                <div class="alert alert-success fade in alert-dismissible show" style="margin-top:18px;">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size:20px">×</span>
                  </button>    <strong>Success!</strong> {{message}}
                </div>
              {% elif message_color == 'red' %}
                <div class="alert alert-danger fade in alert-dismissible show" style="margin-top:18px;">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size:20px">×</span>
                  </button>    <strong>Error!</strong> {{message}}
                </div>
                {% endif %}

                <div class="form-floating mb-3">
                  <div class="pb-2">
                    <div class="row">
                      <div class="col">
                        <label for="number">Number</label>
                      </div>
                      <div class="col">
                        <label>{{number}}</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="trans_date">Transaction Date <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="date" id="trans_date" name="trans_date" value="{{trans_date}}" required="true">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="entry_type">Entry Type <span style="color:red;">*</span></label></div>
                  <select class="form-control" id="entry_type" name="entry_type" required="true">
                    <option value="Buy">Buy</option>
                    <option value="Sell">Sell</option>
                  </select>
                  </div>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="amount">Amount <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="number" id="amount" name="amount" value="{{amount}}" step="0.0001" required="true">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="int_comp">Interest component? <span style="color:red;">*</span></label></div>
                  <input type="checkbox" name="interest_component" id="interest_component" value="{{interest_component}}">
                </div>
                
                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="notes">Notes</label></div>
                  <textarea class="form-control" name="notes" required="true">{{notes|default_if_none:""}}</textarea>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="reference">Reference</label></div>
                  <textarea class="form-control" name="reference">{{reference}}</textarea>
                </div>

                <div class="form-floating mb-3">
                  <button type="submit" class="btn btn-primary" name="submit">Submit</button>
                  <a href="../" class="btn btn-danger" role="button">Cancel</a>
                </div>
                
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
