{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %} 
  <ul class="breadcrumb">
    <li><a href="{% url 'common:common-list' %}">Internals</a></li>
    <li><a href="{% url 'common:passwords-list' %}">Passwords</a></li>
    <li><a href="#">Add Master Password</a></li>
  </ul>
{% endblock viewname %}

{% block content %}
<h4>Add Master Password</h4>
No master password has been added yet.  Please add one.  Min length 8.
<table class="table table-bordered">
  <tr>
    <td>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        <div class="row">
          <div class='col-sm-12'>
            <label id="error_label"></label>
            <div class="form-group row">
              <label for="passwd" class="col-sm-3 col-form-label">Password</label>
              <div class="col-sm-6">
                <input type="password" id="id_passwd" name="passwd" placeholder="Password" minlength="8">
              </div>
            </div>

            <div class="form-group row">
              <label for="re-enter-passwd" class="col-sm-3 col-form-label">Re-enter Password</label>
              <div class="col-sm-6">
                <input type="password" id="re_enter_passwd" name="re_enter_passwd" placeholder="Re-enter Password" minlength="8">
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-6">
                <div class="md-form mt-0">
                  <button type="submit" class="btn btn-primary" id="submit" name="submit">Submit</button>
                <a href="../" class="btn btn-danger" role="button">Cancel</a>
              </div>
            </div>

          </div>
        </div>
      </form>
    </td>
  </tr>
</table>
{% endblock content %}

{% block javascript %}
  <script>
    updateSubmitButton();
    $("#id_passwd").change(function () {
      updateSubmitButton();
    });
    $("#re_enter_passwd").change(function () {
      updateSubmitButton();
    });
    function updateSubmitButton() {
      console.log('inside updateSubmitButton')
      var passwd = document.getElementById('id_passwd').value;
      var repasswd = document.getElementById('re_enter_passwd').value;
      document.getElementById('submit').disabled=true;
      err_lab = document.getElementById('error_label');
      if (passwd===repasswd) {
        console.log('same password')
        if (passwd.length > 8) {
          document.getElementById('submit').disabled=false;
        }
        err_lab.value='';
      } else if ((passwd != '') && (repasswd!='')) {
        console.log('different password')
        err_lab.value='ERROR: Passwords dont match';
      } else {
        console.log('other case')
      }
    }
  
  </script>
{% endblock %}