{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %}
<ul class="breadcrumb">
  <li><a href="{% url 'common:common-list' %}">Internals</a></li>
  <li><a href="{% url 'common:passwords-list' %}">Passwords</a></li>
  <li><a href="#">Delete Passwords</a></li>
</ul>

{% endblock viewname %}

{% block content %}

  <form method="POST">
    {% csrf_token %}
    <h2>Do you want to delete all Passwords ?</h2>
    <input type="submit" value="Submit" class="btn btn-primary"/>&nbsp;<a href="{% url 'common:passwords-list' %}" class="btn btn-danger" role="button">Cancel</a>
  </form>

{% endblock content %}

{% block javascript %}
  <script>
    
  </script>
{% endblock javascript %}
