{% extends 'base.html' %} 
{% load template_filters %}
{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="{% url 'common:common-list' %}">Internals</a></li>
    <li><a href="#">Stocks Being Tracked </a></li>
  </ul>
{% endblock %} 

{% block applicableactions %} 
    <a href="refresh"><i class="fa fa-sync" aria-hidden="true" title="Refresh" style="font-size: 1.2em;"></i></a>
{% endblock applicableactions %}
{% block canvas %}{% endblock canvas %}

{% block content %}
  <table class="table table-hover" id="stocks-table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Exchange</th>
        <th scope="col">Symbol</th>
        <th scope="col">Collection Start Date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for instance in stock_list %}
      <tr>
        <th scope="row">{{ instance.id }}</th>
        <td>{{ instance.exchange }}</td>
        <td>
          <a href="{{ instance.get_absolute_url }}">{{ instance.symbol }}</a>
        </td>
        <td>{{ instance.collection_start_date }}</td>
        <td>
          <a href="{{ instance.get_absolute_url }}historical-prices"><i class="far fa-file-alt" aria-hidden="true"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

<script>
  {% block jquery %}
  $('#stocks-table').DataTable({
        "order": [[ 0, "desc" ]]
    } );
  {% endblock jquery %}
</script>
