{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %} 
  <ul class="breadcrumb">
    <li><a href="{% url 'common:common-list' %}">Internals</a></li>
    <li><a href="{% url 'common:passwords-list' %}">Passwords</a></li>
    <li><a href="#">Update Password</a></li>
  </ul>
{% endblock viewname %}

{% block content %}
<table class="table table-bordered">
  <tr>
    <td>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        <div class="row">
          <div class='col-sm-12'>
            <div class="form-group row">
              <label for="user" class="col-sm-3 col-form-label">User</label>
              <div class="col-sm-6">
                <div class="md-form mt-0">
                  <label for="id_user" class="col-sm-3 col-form-label">{{user}}</label>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="source" class="col-sm-3 col-form-label">Source</label>
              <div class="col-sm-6">
                <div class="md-form mt-0">
                  <label for="id_source" class="col-sm-3 col-form-label">{{source}}</label>
                </div>
              </div>
            </div>
          
            <div class="form-group row">
              <label for="userid" id="label-userid" class="col-sm-3 col-form-label">UserID</label>
              <div class="col-sm-6">
                <div class="md-form mt-0">
                  <label for="id_user_id" class="col-sm-3 col-form-label">{{user_id}}</label>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="pull-passwd" class="col-sm-3 col-form-label">Password</label>
              <div class="col-sm-6">
                <input type="password" id="id_passwd" name="passwd" placeholder="Password">
              </div>
            </div>

            <div class="form-group row" id="div_additional_passwd">
              <label for="pull-additional-passwd" class="col-sm-3 col-form-label">2FA</label>
              <div class="col-sm-6">
                <input type="password" id="id_additional_passwd" name="additional_passwd" placeholder="Additional Password">
              </div>
            </div>

            <div class="form-group row" id="div_additional_field">
              <label for="additional-field" class="col-sm-3 col-form-label" id="label_additional_field">Kuvera User Account Name</label>
              <div class="col-sm-6">
                <input type="text" id="id_additional_field" name="input_additional_field" size="50" value={{input_additional_field}}>
              </div>
            </div>

            <div class="form-group row">
              <label for="notes" class="col-sm-3 col-form-label">Notes</label>
              <div class="col-sm-6">
                <textarea name="notes" rows="5" cols="50">{{notes}}</textarea>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-6">
                <div class="md-form mt-0">
                  <button type="submit" class="btn btn-primary" id="submit" name="submit">Submit</button>
                <a href="../" class="btn btn-danger" role="button">Cancel</a>
              </div>
            </div>

          </div>
        </div>
      </form>
    </td>
  </tr>
</table>
{% endblock content %}

{% block javascript %}
  <script>
    updateSubmitButton();
    $("#id_passwd").change(function () {
      updateSubmitButton();
    });
    $("#id_additional_field").change(function () {
      updateSubmitButton();
    });
    $("#id_additional_passwd").change(function () {
      updateSubmitButton();
    });
    function updateSubmitButton() {
      var src = '{{source}}';
      var additional_field = document.getElementById('div_additional_field');
      additional_field.style.display = "none";
      var additional_passwd = document.getElementById('div_additional_passwd');
      additional_passwd.style.display = "none";
      var passwd = document.getElementById('id_passwd').value;
      var twofa = document.getElementById('id_additional_passwd').value;
      var additional_field_val = document.getElementById('id_additional_field').value;
      document.getElementById('submit').disabled=true;
      console.log(src);
      if (src == 'KUVERA') {
        document.getElementById('label_additional_field').innerHTML='Kuvera User Account Name';
        additional_field.style.display = null;
        if ((passwd!='') && (additional_field_val != '')) {
          document.getElementById('submit').disabled=false;
        }
      } else if (src == 'COIN ZERODHA') {
        document.getElementById('label_additional_field').innerHTML='2FA';
        additional_passwd.style.display = null;
        if ((passwd!='') && (twofa != '')) {
          document.getElementById('submit').disabled=false;
        }
      } else {
        if (passwd!='') {
          document.getElementById('submit').disabled=false;
        }
      }
    }
  
  </script>
{% endblock %}