{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="{% url 'users:user-list' %}">Users</a></li>
    <li><a href="#">
      {% if name %}
        Update User
      {% else %}
        Add User
      {% endif %}
    </a></li>
  </ul>
{% endblock viewname %}

{% block content %}
<section class="py-5">
  <div class="container px-5 ml-3">
    <div class="rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="custom-row gx-5 justify-content-flex-start">
        <div class="col-lg-8 col-xl-6">
          <form method="POST">
            {% csrf_token %}
            <div class='custom-row'>
              {% if message_color == 'green' %}
              <div class="alert alert-success fade in alert-dismissible show" style="margin-top:18px;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true" style="font-size:20px">×</span>
                </button>    <strong>Success!</strong> {{message}}
              </div>
              {% elif message_color == 'red' %}
              <div class="alert alert-danger fade in alert-dismissible show" style="margin-top:18px;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true" style="font-size:20px">×</span>
                </button>    <strong>Error!</strong> {{message}}
              </div>
              {% endif %}

              <div class="form-floating mb-3">
                <div class="pb-2"><label for="name">Name <span style="color:red;">*</span></label></div>
                <input class="form-control" type="text" id="name" name="name" value="{{name}}" required="true">
              </div>

              <div class="form-floating mb-3">
                <div class="pb-2"><label for="short-name">Short Name <span style="color:red;">*</span></label></div>
                <input class="form-control" type="text" id="short-name" name="short_name" value="{{short_name}}" required="true">
              </div>

              <div class="form-floating mb-3">
                <div class="pb-2"><label for="dob">Date Of Birth</label></div>
                <input class="form-control" type="date" id="dob" name="dob" value="{{dob}}">
              </div>

              <div class="form-floating mb-3">
                <div class="pb-2"><label for="email">E-Mail</label></div>
                <input class="form-control" type="email" id="email" name="email" value="{{email}}">
              </div>
              
              <div class="form-floating mb-3">
                <div class="pb-2"><label for="risk_profile">Risk Profile</label></div>
                <select class="form-control" id="risk_profile" name="risk_profile">
                  <option value="conservative" {% if risk_profile == 'conservative' %} selected {% endif %}>Conservative</option>
                  <option value="moderate" {% if risk_profile == 'moderate' %} selected {% endif %}>Moderate</option>
                  <option value="aggressive" {% if risk_profile == 'aggressive' %} selected {% endif %}>Aggressive</option>
                </select>
              </div>

              <div class="form-floating mb-3">
                <div class="pb-2"><label for="notes">Notes</label></div>
                <textarea class="form-control" name="notes">{{notes|default_if_none:""}}</textarea>
              </div>

              <div class="form-floating mb-3">
                <button type="submit" class="btn btn-primary" name="submit">Submit</button>
                <a href="../" class="btn btn-danger" role="button">Cancel</a>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block javascript %}
  <script>
    $("#id_username").change(function () {
      console.log( $(this).val() );
    });
  </script>
{% endblock %}