{% extends 'base.html' %} 

{% block applicableactions %}{% endblock applicableactions %} 

{%block canvas %}{% endblock canvas %}

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="{% url 'users:user-list' %}">Users</a></li>
    <li><a href="#">{{ object.name }}</a></li>
  </ul>
{% endblock viewname %}

{% block content %}

  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Short Name</th>
        <th scope="col">e-mail</th>
        <th scope="col">DOB</th>
        <th scope="col">Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>{{ object.id }}</th>
        <td>{{ object.name }}</td>
        <td>{{ object.short_name }}</td>
        <td>{{ object.email }}</td>
        <td>{{ object.dob }}</td>
        <td>{{ object.notes }}</td>
      </tr>
    </tbody>
  </table>
<br><br><br>
<div class="row">
  <div style="width:100%;height:25vh;" class='col-sm-12 col-md-6 col-lg-4'>
    <canvas id="classificationChart"></canvas>
  </div>
  <div style="width:100%;height:28vh;" class='col-sm-12 col-md-6 col-lg-4'>
    <canvas id="distributionChart"></canvas>
  </div>
  <div style="width:100%;height:26vh;" class='col-sm-12 col-md-6 col-lg-4'>
    <canvas id="statusChart"></canvas>
  </div>
</div>
{% endblock content %}


{% block ajaxcalls %}
          {
            url      : '/user/api/chart/data/{{ object.id }}',
            data     : null,
            callback : get_vals_and_set_chart
          },
{% endblock ajaxcalls %}

{% block javascript %}
  <script>
    function get_vals_and_set_chart(data) {
      var debt_equity = [0, 0]
      var done_pending = [0, 0]
      var debt_equity_labels = ['Debt', 'Equity']
      var status_vals = [0, 0]
      var status_labels = ['Achieved', 'Remaining']
      var distribution_vals = [0, 0]
      var distribution_labels = ['PPF', 'MF']
      
      console.log(data)
      debt_equity = [data.debt, data.equity]
      distribution_vals = data.distrib_vals
      distribution_labels = data.distrib_labels
      distribution_colors = data.distrib_colors
      status_vals = [data.achieved, data.remaining]
      console.log("debt_equity values")
      console.log(debt_equity)
      console.log("distribution_vals values")
      console.log(distribution_vals)
      console.log("status_vals values")
      console.log(status_vals)

      var ctx = document.getElementById('classificationChart').getContext('2d');
      var config = {
        type: 'pie',
        data: {
          datasets: [{
            data: debt_equity,
            backgroundColor: [
              '#519463', '#a85b6a'
            ],
            label: 'Classification'
          }],
          labels: debt_equity_labels
        },
        options: {
          responsive: true,
          maintainAspectRatio:false
        }
      };
      var ctx2 = document.getElementById('distributionChart').getContext('2d');
      var config2 = {
        type: 'doughnut',
        data: {
          datasets: [{
            data: distribution_vals,
            backgroundColor: distribution_colors,
            label: 'Distribution'
          }],
          labels: distribution_labels
        },
        options: {
          responsive: true,
          maintainAspectRatio:false
        }
      };
      var ctx3 = document.getElementById('statusChart').getContext('2d');
      var config3 = {
        type: 'pie',
        data: {
          datasets: [{
            data: status_vals,
            backgroundColor: [
              '#519463', '#a85b6a'
            ],
            label: 'Status'
          }],
          labels: status_labels
        },
        options: {
          responsive: true,
          maintainAspectRatio:false
        }
      };
      var classificationChart = new Chart(ctx,config);
      var distributionChart = new Chart(ctx2, config2);
      var statusChart = new Chart(ctx3, config3);
    }
  </script>
{% endblock javascript %}
