{% extends 'base.html' %} 

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="{% url 'users:user-list' %}">Users</a></li>
    <li><a href="#">Delete User</a></li>
  </ul>
{% endblock %}


{% block canvas %}{% endblock canvas %}

{% block applicableactions %} {% endblock applicableactions %}

{% block content %}

<form action="." method="POST">
  {% csrf_token %}
  <h2>Do you want to delete the User "{{ object.name }}"?</h2>
  <p><input type="submit" value="Submit" class="btn btn-danger"/>&nbsp;<a href="../" class="btn btn-primary" role="button">Cancel</a></p>
</form>

{% endblock %}