{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %} 
  <ul class="breadcrumb">
    <li><a href="{% url 'insurance:policy-list' %}">Insurance</a></li>
    <li><a href="{% url 'insurance:policy-detail' policy_id %}">{{policy}}</a></li>
    <li><a href="#">Add Transaction</a></li>
  </ul>
{% endblock viewname %}

{% block content %}

  <form method="POST">
    {% csrf_token %}
    <div class="row">
      <div class='col-sm-6'>

        {% if message_color == 'green' %}
        <div class="alert alert-success fade in alert-dismissible show" style="margin-top:18px;">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true" style="font-size:20px">×</span>
           </button>    <strong>Success!</strong> {{message}}
        </div>
        {% elif message_color == 'red' %}
        <div class="alert alert-danger fade in alert-dismissible show" style="margin-top:18px;">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true" style="font-size:20px">×</span>
           </button>    <strong>Error!</strong> {{message}}
         </div>
        {% endif %}
         
        <div class="form-group row">
          <label for="policy" class="col-sm-3 col-form-label">Policy Number</label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <label>{{policy}}</label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="company" class="col-sm-3 col-form-label">Company</label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <label>{{company}}</label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="fund" class="col-sm-3 col-form-label">Policy Name</label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <label>{{name}}</label>
            </div>
          </div>
        </div>

        <div class="form-group row">   
          <label class="control-label col-sm-3 col-form-label" for="id_policy_type">Policy Type</label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <label> {{policy_type}} </label>
            </div>
          </div> 
        </div>

        <div class="form-group row">
          <label for="trans_date" class="col-sm-3 col-form-label">Transaction Date <span style="color:red;">*</span></label>
          <div class="col-sm-3">
              <div class="md-form mt-0">
                  <input type="date" id="trans_date" name="trans_date" value="{{trans_date}}" required="true">
              </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="trans_amount" class="col-sm-3 col-form-label">Transaction Amount <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <input type="number" step="0.01" id="trans_amount" name="trans_amount" value="{{trans_amount}}" required="true">
            </div>
          </div>
        </div>

        {% if policy_type == 'ULIP' %}

        <div class="form-group row">
          <label for="fund" class="col-sm-3 col-form-label">Fund Name <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <select id="id_fund_name" name="fund_name" class="form-control" required="true"></select>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="nav" class="col-sm-3 col-form-label">Transaction Type <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <select name="tran_type" required="" id="id_tran_type" required="true">
                <option value="">---------</option>
                <option value="Premium">Premium</option>
                <option value="OtherCharges">Other Charges</option>
                <option value="OtherCredits">Other Credits</option>
                <option value="PolicyAdminCharges">Policy Admin Charges</option>
                <option value="CentralGST">Central GST</option>
                <option value="StateGST">State GST</option>
                <option value="OtherDeductions">Other Deductions</option>
                <option value="MortalityCharges">Mortality Charges</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="nav" class="col-sm-3 col-form-label">NAV <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <input type="number" step="0.01" id="nav" name="nav" value="{{nav}}" required="true">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="nav" class="col-sm-3 col-form-label">Units <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <input type="number" step="0.01" id="units" name="units" value="{{units}}" required="true">
            </div>
          </div>
        </div>
        {% endif %}

        {% if policy_type not in 'Term,Health' %}
        <div class="form-group row">
          <label for="description" class="col-sm-3 col-form-label">Description <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <textarea name="description" rows="5" cols="20" required="true">{{description}}</textarea>
            </div>
          </div>
        </div>
        {% endif %}

        <div class="form-group row">
          <label for="notes" class="col-sm-3 col-form-label">Notes</label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <textarea name="notes" rows="5" cols="20">{{notes}}</textarea>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <div class="md-form mt-0">
              <button type="submit" class="btn btn-primary" name="submit">Submit</button>
              <a href="{% url 'insurance:get-transactions' policy_id %}" class="btn btn-danger" role="button">Cancel</a>
            </div>
          </div>
        </div>

      </div>

      {% if policy_type == 'ULIP' %}
      <div class='col-6'>
        <a class="btn btn-primary" href="{% url 'insurance:add-fund' policy_id %}" role="button">Add Fund <i class="fa fa-plus" aria-hidden="true" title="Add Fund" style="font-size: 0.8em;"></i></a>
      </div>
      {% endif %}
    </div>
  </form>

{% endblock content %}


{% block javascript %}
  <script>
    policy_type = "{{policy_type|safe}}"
    if (policy_type == "ULIP") {
      set_fund_names({{fund_names|safe}});
    }

    $("#id_fund_house").change(function () {
      set_fund_select_status();
    });

    function set_fund_names(fund_names) {
      $('#id_fund_name').empty();
      $('#id_fund_name')
          .append($('<option>', { value : '' })
          .text(''));
      var dropdown = document.getElementById('id_fund_name');
      for (x in fund_names) {
        fund_name = fund_names[x]
        // create new option element
        var opt = document.createElement('option');
        // create text node to add to option element (opt)
        opt.appendChild( document.createTextNode(fund_name) );
        // set value property of opt
        opt.value = x;
        // add opt to end of select box (sel)
        dropdown.appendChild(opt);
      }
    }

  </script>
{% endblock %}