{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %} 
  <ul class="breadcrumb">
    <li><a href="{% url 'insurance:policy-list' %}">Insurance</a></li>
    <li><a href="#">Create</a></li>
  </ul>
{% endblock viewname %}

{% block content %}
<section class="py-5">
  <div class="container px-5 ml-3">
    <div class="rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="custom-row gx-5 justify-content-flex-start">
        <div class="col-lg-8 col-xl-6">
          <form method="POST">
            {% csrf_token %}
            <div class="custom-row">
                {% if message_color == 'green' %}
                <div class="alert alert-success fade in alert-dismissible show" style="margin-top:18px;">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size:20px">×</span>
                  </button>    <strong>Success!</strong> {{message}}
                </div>
                {% elif message_color == 'red' %}
                <div class="alert alert-danger fade in alert-dismissible show" style="margin-top:18px;">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size:20px">×</span>
                  </button>    <strong>Error!</strong> {{message}}
                </div>
                {% endif %}

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="user">User <span style="color:red;">*</span></label></div>
                  <select id="id_user" name="user" class="form-control" required="true"></select>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="goal">Goal</label></div>
                  <select id="id_goal" name="goal" class="form-control"></select>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="policy">Policy Number <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="text" id="id_policy" name="policy" value="{{policy}}" required="true">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="id_policy_type">Policy Type</label></div>
                  <select class="form-control" name="policy_type" required="" id="id_policy_type">
                    <option value="">---------</option>
                    <option value="Traditional">Traditional</option>
                    <option value="Term">Term</option>
                    <option value="ULIP">ULIP</option>
                    <option value="Health">Health</option>
                  </select>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="company">Company <span style="color:red;">*</span></label></div>
                  <select class="form-control" name="company" required="" id="id_company"></select>
                </div>

                <div class="form-floating mb-3" id="id_div_company_other">
                  <div class="pb-2"><label for="company_other">Enter company name  <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="text" id="id_company_other" name="company_other" value="{{company_other}}">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="name">Policy Name <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="text" id="id_name" name="name" value="{{name}}" required="true">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="start_date">Start Date <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="date" id="start_date" name="start_date" value="{{start_date}}" required="true">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="end_date">End Date</label></div>
                  <input class="form-control" type="date" id="end_date" name="end_date" value="{{end_date}}">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="sum_assured">Sum Assured</label></div>
                  <input class="form-control" type="number" step="1" id="sum_assured" name="sum_assured" value="{{sum_assured}}">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="notes">Notes</label></div>
                  <textarea class="form-control" name="notes">{{notes|default_if_none:""}}</textarea>
                </div>

                <div class="form-floating mb-3">
                  <button type="submit" class="btn btn-primary" name="submit">Submit</button>
                  <a href="../" class="btn btn-danger" role="button">Cancel</a>
                </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}


{% block javascript %}
  <!--script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script-->
  <!--script>
    $('.basicAutoComplete').autoComplete(
        {minLength: 1}
    );
    $('.dropdown-menu').css({'top': 'auto', 'left': 'auto'})

  </script-->
  {% load static %}
  <script src="{% static 'common.js' %}"></script>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    set_user_list({{users|safe}}, '{{user|safe}}');
    set_company({{companies|safe}});
    set_other_company_div();
    $("#id_company").change(function () {
      set_other_company_div();
    });
    function set_other_company_div() {
      var sel = document.getElementById('id_company').value;
      if (sel == 'Other') {
        document.getElementById("id_div_company_other").style.display=null;
        document.getElementById("id_company_other").required = true;
      } else {
        document.getElementById("id_div_company_other").style.display="none";
        document.getElementById("id_company_other").required = false;
      }
    }
    function set_company(companies) {
      $('#id_company').empty();
      $('#id_company')
          .append($('<option>', { value : '' })
          .text(''));
      var dropdown = document.getElementById('id_company');
      for (x in companies) {
          company = companies[x]
          // create new option element
          var opt = document.createElement('option');
          // create text node to add to option element (opt)
          opt.appendChild( document.createTextNode(company) );
          // set value property of opt
          opt.value = company;
          // add opt to end of select box (sel)
          dropdown.appendChild(opt);
      }
    }
  </script>
{% endblock %}