{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %} 
  <ul class="breadcrumb">
    <li><a href="{% url 'insurance:policy-list' %}">Insurance</a></li>
    <li><a href="{% url 'insurance:policy-detail' policy_id %}">{{policy}}</a></li>
    <li><a href="#">Add Transaction</a></li>
  </ul>
{% endblock viewname %}

{% block content %}
<section class="py-5">
  <div class="container px-5 ml-3">
    <div class="rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="custom-row gx-5 justify-content-flex-start">
        <div class="col-lg-8 col-xl-6">
          <form method="POST">
            {% csrf_token %}
            <div class="row">
              <div class='col-sm-6'>

                {% if message_color == 'green' %}
                <div class="alert alert-success fade in alert-dismissible show" style="margin-top:18px;">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size:20px">×</span>
                  </button>    <strong>Success!</strong> {{message}}
                </div>
                {% elif message_color == 'red' %}
                <div class="alert alert-danger fade in alert-dismissible show" style="margin-top:18px;">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size:20px">×</span>
                  </button>    <strong>Error!</strong> {{message}}
                </div>
                {% endif %}
                
                <div class="form-floating mb-3">
                  <div class="pb-2">
                    <div class="row">
                      <div class="col">
                        <label for="policy">Policy Number</label>
                      </div>
                      <div class="col">
                        <label>{{policy}}</label>
                      </div>
                      {% if policy_type == 'ULIP' %}
                      <div class='col'>
                        <a class="btn btn-primary" href="{% url 'insurance:add-fund' policy_id %}" role="button">Add Fund <i class="fa fa-plus" aria-hidden="true" title="Add Fund" style="font-size: 0.8em;"></i></a>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2">
                    <div class="row">
                      <div class="col">
                        <label for="company">Company</label>
                      </div>
                      <div class="col">
                        <label>{{company}}</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2">
                    <div class="row">
                      <div class="col">
                        <label for="fund">Policy Name</label>
                      </div>
                      <div class="col">
                        <label>{{name}}</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2">
                    <div class="row">
                      <div class="col">
                        <label for="id_policy_type">Policy Type</label>
                      </div>
                      <div class="col">
                        <label> {{policy_type}} </label>
                      </div>
                    </div> 
                  </div>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="trans_date">Transaction Date <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="date" id="trans_date" name="trans_date" value="{{trans_date}}" required="true">
                </div>


                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="trans_amount">Transaction Amount <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="number" step="0.01" id="trans_amount" name="trans_amount" value="{{trans_amount}}" required="true">
                </div>


                {% if policy_type == 'ULIP' %}

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="fund">Fund Name <span style="color:red;">*</span></label></div>
                  <select id="id_fund_name" name="fund_name" class="form-control" required="true"></select>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="nav">Transaction Type <span style="color:red;">*</span></label></div>
                  <select class="form-control" name="tran_type" required="" id="id_tran_type" required="true">
                    <option value="">---------</option>
                    <option value="Premium">Premium</option>
                    <option value="OtherCharges">Other Charges</option>
                    <option value="OtherCredits">Other Credits</option>
                    <option value="PolicyAdminCharges">Policy Admin Charges</option>
                    <option value="CentralGST">Central GST</option>
                    <option value="StateGST">State GST</option>
                    <option value="OtherDeductions">Other Deductions</option>
                    <option value="MortalityCharges">Mortality Charges</option>
                  </select>
                </div>


                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="nav">NAV <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="number" step="0.01" id="nav" name="nav" value="{{nav}}" required="true">
                </div>


                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="nav">Units <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="number" step="0.01" id="units" name="units" value="{{units}}" required="true">
                </div>

                {% endif %}

                {% if policy_type not in 'Term,Health' %}
                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="description">Description <span style="color:red;">*</span></label></div>
                  <textarea class="form-control" name="description" required="true">{{description}}</textarea>
                </div>

                {% endif %}

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="notes">Notes</label></div>
                  <textarea class="form-control" name="notes">{{notes|default_if_none:""}}</textarea>
                </div>

                <div class="form-floating mb-3">
                  <button type="submit" class="btn btn-primary" name="submit">Submit</button>
                  <a href="{% url 'insurance:get-transactions' policy_id %}" class="btn btn-danger" role="button">Cancel</a>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}


{% block javascript %}
  <script>
    policy_type = "{{policy_type|safe}}"
    if (policy_type == "ULIP") {
      set_fund_names({{fund_names|safe}});
    }

    $("#id_fund_house").change(function () {
      set_fund_select_status();
    });

    function set_fund_names(fund_names) {
      $('#id_fund_name').empty();
      $('#id_fund_name')
          .append($('<option>', { value : '' })
          .text(''));
      var dropdown = document.getElementById('id_fund_name');
      for (x in fund_names) {
        fund_name = fund_names[x]
        // create new option element
        var opt = document.createElement('option');
        // create text node to add to option element (opt)
        opt.appendChild( document.createTextNode(fund_name) );
        // set value property of opt
        opt.value = x;
        // add opt to end of select box (sel)
        dropdown.appendChild(opt);
      }
    }

  </script>
{% endblock %}