{% extends 'base.html' %} 

{% block applicableactions %}
<a style="padding-left:20px;" href="transactions"><i class="far fa-file-alt" aria-hidden="true" title="Transactions" style="font-size: 1.2em;"></i></a>
{% endblock applicableactions %} 

{%block canvas %}{% endblock canvas %}

{% block viewname %} 
  <ul class="breadcrumb">
    <li><a href="{% url 'insurance:policy-list' %}">Insurance</a></li>
    <li><a href="#">{{policy}}</a></li>
  </ul>
{% endblock viewname %}

{% block content %}
<div class="card-deck">
  <div class="card" style="width:100%;box-shadow: 2px 4px #888888;" class='col-sm-12 col-md-6 col-lg-4'>
    <table class="table table-hover">
      <tr>
        <th scope="col">Policy</th>
        <td>{{policy}}</td>
      </tr>
      <tr>
        <th scope="col">Sum Assured</th>
        <td>{{sum_assured}}</td>
      </tr>
      <tr>
        <th scope="col">Name</th>
        <td>{{name}}</td>
      </tr>
        <tr>
          <th scope="col">As On</th>
          <td>{{ as_on_date }}</td>
        </tr>
        <tr>
          <th scope="col">ROI</th>
          <td>{{ roi }}</td>
        </tr>
        <tr>
          <th scope="col">Total Buy Value</th>
          <td>{{ buy_value }}</td>
        </tr>
        <tr>
          <th scope="col">Latest Value</th>
          <td>{{ latest_value }}</td>
        </tr>
        <tr>
          <th scope="col">Gain/Loss</th>
          <td>{{ gain }}</td>
        </tr>
        <tr>
          <th scope="col">User</th>
          <td>{{ user }}</td>
        </tr>
        <tr>
          <th scope="col">Goal</th>
          <td>{{ goal }}</td>
        </tr>
        <tr>
          <th scope="col">Notes</th>
          <td>{{ notes }}</td>
        </tr>
        <tr>
          <th scope="col">Charges</th>
          <td>{{ charges }}</td>
        </tr>
        <tr>
          <th scope="col">Mortality Charges</th>
          <td>{{ mc }}</td>
        </tr>
        <tr>
          <th scope="col">Taxes</th>
          <td>{{ taxes }}</td>
        </tr>
    </table>
    </div>

    {% if funds|length > 0 %}
    <div class="card" style="width:100%;box-shadow: 2px 4px #888888;" class='col-sm-12 col-md-6 col-lg-4'>
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Latest Value</th>
            <th scope="col">Units</th>
            <th scope="col">NAV</th>
            <th scope="col">NAV Date</th>
            <th scope="col">NAV History</th>
          </tr>
        </thead>
        <tbody>
          {% for f in funds %}
          <tr>
            <td><a href="{% url 'insurance:fund-detail' policy_id f.id %}">{{f.name}}</a></td>
            <td>{{ f.latest_value }}</td>
            <td>{{ f.units }}</td>
            <td>{{ f.nav }}</td>
            <td>{{ f.nav_date }}</td>
            <td>
              <a href="{% url 'insurance:nav-history' policy_id f.id %}" style="padding-left:10px;"><i class="far fa-file-alt" aria-hidden="true"></i> </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
</div>
  {% endblock content %}