{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %} 
  <ul class="breadcrumb">
    <li><a href="{% url 'insurance:policy-list' %}">Insurance</a></li>
    <li><a href="{% url 'insurance:policy-detail' policy_id %}">{{policy}}</a></li>
    <li><a href="#">Update</a></li>
  </ul>
{% endblock viewname %}

{% block content %}

<section class="py-5">
  <div class="container px-5 ml-3">
    <div class="rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="custom-row gx-5 justify-content-flex-start">
        <div class="col-lg-8 col-xl-6">
          <form method="POST">
            {% csrf_token %}
            <div class="custom-row">

                {% if message_color == 'green' %}
                <div class="alert alert-success fade in alert-dismissible show" style="margin-top:18px;">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size:20px">×</span>
                  </button>    <strong>Success!</strong> {{message}}
                </div>
                {% elif message_color == 'red' %}
                <div class="alert alert-danger fade in alert-dismissible show" style="margin-top:18px;">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size:20px">×</span>
                  </button>    <strong>Error!</strong> {{message}}
                </div>
                {% endif %}

                <div class="form-floating mb-3">
                  <div class="pb-2">
                    <div class="row">
                      <div class="col">
                        <label for="policy">Policy Number</label>
                      </div>
                      <div class="col">
                        <label>{{policy}}</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2">
                    <div class="row">
                      <div class="col">
                        <label for="id_policy_type">Policy Type</label>
                      </div>
                      <div class="col">
                        <label> {{policy_type}} </label>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="form-floating mb-3">
                  <div class="pb-2">
                    <div class="row">
                      <div class="col">
                        <label for="company">Company</label>
                      </div>
                      <div class="col">
                        <label> {{company}} </label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2">
                    <div class="row">
                      <div class="col">
                        <label for="user">User</label>
                      </div>
                      <div class="col">
                        <label>{{user}}</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="fund">Policy Name <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="text" id="id_name" name="name" value="{{name}}" required="true">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="start_date">Start Date <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="date" id="start_date" name="start_date" value="{{start_date}}" required="true">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="end_date">End Date</label></div>
                  <input class="form-control" type="date" id="end_date" name="end_date" value="{{end_date}}">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="sum_assured">Sum Assured</label></div>
                  <input class="form-control" type="number" step="1" id="sum_assured" name="sum_assured" value="{{sum_assured}}">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="goal">Goal</label></div>
                  <select id="id_goal" name="goal" class="form-control"></select>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="notes">Notes</label></div>
                  <textarea class="form-control" name="notes">{{notes|default_if_none:""}}</textarea>
                </div>

                <div class="form-floating mb-3">
                  <button type="submit" class="btn btn-primary" name="submit">Submit</button>
                  <a href="../" class="btn btn-danger" role="button">Cancel</a>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

{% block javascript %}
  {% load static %}
  <script src="{% static 'common.js' %}"></script>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    console.log({{goals|safe}})
    console.log({{goal|safe}})
    set_goals({{goals|safe}}, '{{goal|safe}}');
  </script>
{% endblock %}