p {
    font-family : "Verdana";
    font-size: 14px;
}
h1 {
    font-family: "Verdana";
    font-size: 14px;
}
table {
    font-family: "Verdana";
    font-size: 14px;
}
div {
    font-family: "Verdana";
    font-size: 14px;
}