{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="{% url 'mutualfund:folio-list' %}">Mutual Funds</a></li>
    <li><a href="{% url 'mutualfund:folio-detail' folio_id %}">{{folio}}</a></li>
    <li><a href="#">{{operation}}</a></li>
  </ul>
{% endblock viewname %}

{% block content %}

<section class="py-5">
  <div class="container px-5 ml-3">
    <div class="rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="custom-row gx-5 justify-content-flex-start">
        <div class="col-lg-8 col-xl-6">
          <form method="POST">
            {% csrf_token %}
            <div class="custom-row">

                {% if message_color == 'green' %}
                <div class="alert alert-success fade in alert-dismissible show" style="margin-top:18px;">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size:20px">×</span>
                  </button>    <strong>Success!</strong> {{message}}
                </div>
                {% elif message_color == 'red' %}
                <div class="alert alert-danger fade in alert-dismissible show" style="margin-top:18px;">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size:20px">×</span>
                  </button>    <strong>Error!</strong> {{message}}
                </div>
                {% endif %}

                <div class="form-floating mb-3">
                  <div class="pb-2">
                    <div class="row">
                      <div class="col"><label for="folio">Folio</label></div>
                      <div class="col"><label>{{folio}}</label></div>
                    </div>
                  </div>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2">
                    <div class="row">
                      <div class="col"><label for="fund_name">Fund Name</label></div>
                      <div class="col"><label>{{fund_name}}</label></div>
                    </div>
                  </div>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2">
                    <div class="row">
                      <div class="col"><label for="user">User</label></div>
                      <div class="col"><label>{{user}}</label></div>
                    </div>
                  </div>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="trans_date">Transaction Date <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="date" id="trans_date" name="trans_date" value="{{trans_date}}">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="trans_type">Transaction Type <span style="color:red;">*</span></label></div>
                  <select id="trans_type" name="trans_type" class="form-control">
                    <option value="Buy">Buy</option>
                    <option value="Sell">Sell</option>
                  </select>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="price">Price <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="number" id="price" name="price" value="{{price}}" step="0.0001" required="true">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="units">Units <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="number" id="units" name="units" value="{{units}}" step="0.0001" required="true">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="conversion_rate">Conversion Rate</label></div>
                  <input class="form-control" type="number" id="conversion_rate" name="conversion_rate" value="{{conversion_rate}}" step="0.01">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="trans_price">Transaction Price</label></div>
                  <input class="form-control" type="number" id="trans_price" name="trans_price" value="{{trans_price}}" step="0.01"> 
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="broker">Broker</label></div>
                  <input class="form-control" type="text" id="broker" name="broker" value="{{broker}}">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="notes">Notes</label></div>
                  <textarea class="form-control" name="notes">{{notes|default_if_none:""}}</textarea>
                </div>

                <div class="form-floating mb-3">
                  <button type="submit" class="btn btn-primary" name="submit">Submit</button>
                  <a href="{% url 'mutualfund:folio-transactions-list' folio_id %}" class="btn btn-danger" role="button">Cancel</a>
                </div>
                
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

{% block javascript %}
  <script>
    $("#price").change(function () {
      setTransPrice();
    });
    $("#units").change(function () {
      setTransPrice();
    });
    $("#conversion_rate").change(function () {
      setTransPrice();
    });
    function setTransPrice(){
      var priceElem = document.getElementById("price");
      var price = priceElem.value
      var quantityElem = document.getElementById("units");
      var quantity = quantityElem.value
      var conversionRateElem = document.getElementById("conversion_rate");
      var conversionRate = conversionRateElem.value
      console.log(price)
      console.log(quantity)
      console.log(conversionRate)
      if (quantity!= '' && price!='' && conversionRate!='') {
        totalPrice = quantity*price*conversionRate
        console.log(totalPrice)
        totalPriceElem = document.getElementById("trans_price")
        totalPriceElem.value = precise(totalPrice)
      }  
    }
    function precise(num) {
      return Math.round((num + Number.EPSILON) * 100) / 100
    }
  </script>
{% endblock %}
