{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %} 
  <ul class="breadcrumb">
    <li><a href="{% url 'mutualfund:folio-list' %}">Mutual Funds</a></li>
    <li><a href="#"> {{operation}}</a></li>
  </ul>
{% endblock viewname %}

{% block content %}
<section class="py-5">
  <div class="container px-5 ml-3">
    <div class="rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="custom-row gx-5 justify-content-flex-start">
        <div class="col-lg-8 col-xl-6">
          <form method="POST">
            {% csrf_token %}
            <div class="custom-row">
                {% if message_color == 'green' %}
                <div class="alert alert-success fade in alert-dismissible show" style="margin-top:18px;">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size:20px">×</span>
                  </button>    <strong>Success!</strong> {{message}}
                </div>
                {% elif message_color == 'red' %}
                <div class="alert alert-danger fade in alert-dismissible show" style="margin-top:18px;">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size:20px">×</span>
                  </button>    <strong>Error!</strong> {{message}}
                </div>
                {% endif %}

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="folio">Folio <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="text" id="id_folio" name="folio" value="{{folio}}" required="true">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="folio">Fund House <span style="color:red;">*</span></label></div>
                  <select class="form-control" id="id_fund_house" name="fund_house" required="true"></select>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="fund">Fund <span style="color:red;">*</span></label></div>
                      <!--input class="form-control ui-autocomplete-input" type="text" autocomplete="off" id="id_fund"-->
                      <!--select class="form-control basicAutoSelect" name="fund_select"
            placeholder="type to search..."
            data-url="testdata/test-select-simple.json" autocomplete="off"></select-->
                      <input class="form-control" type="text" id="id_fund" name="fund" value="{{fund}}" required="true">
                </div>

                <div id="log"></div>
                
                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="user">User <span style="color:red;">*</span></label></div>
                  <select class="form-control" id="id_user" name="user" required="true"></select>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="goal">Goal</label></div>
                  <select class="form-control" id="id_goal" name="goal"></select>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="notes">Notes</label></div>
                  <textarea class="form-control" name="notes">{{notes|default_if_none:""}}</textarea>
                </div>

                <div class="form-floating mb-3">
                  <button type="submit" class="btn btn-primary" name="submit">Submit</button>
                  <a href="../" class="btn btn-danger" role="button">Cancel</a>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}


{% block javascript %}
  <!--script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script-->
  <!--script>
    $('.basicAutoComplete').autoComplete(
        {minLength: 1}
    );
    $('.dropdown-menu').css({'top': 'auto', 'left': 'auto'})

  </script-->
  {% load static %}
  <script src="{% static 'common.js' %}"></script>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    set_user_list({{users|safe}}, '{{user|safe}}');
    set_fund_house({{fund_houses|safe}});
    set_fund_select_status();

    $("#id_fund_house").change(function () {
      set_fund_select_status();
    });

    function set_fund_house(fund_houses) {
      $('#id_fund_house').empty();
      $('#id_fund_house')
          .append($('<option>', { value : '' })
          .text(''));
      var dropdown = document.getElementById('id_fund_house');
      for (x in fund_houses) {
          fundhouse = fund_houses[x]
          // create new option element
          var opt = document.createElement('option');
          // create text node to add to option element (opt)
          opt.appendChild( document.createTextNode(fundhouse) );
          // set value property of opt
          opt.value = x;
          // add opt to end of select box (sel)
          dropdown.appendChild(opt);
      }
    }

    function set_fund_select_status() {
      v = document.getElementById('id_fund_house').value;
      document.getElementById('id_fund').value='';
      if (v != '') {
        document.getElementById('id_fund').disabled = false;
      } else {
        document.getElementById('id_fund').disabled = true;
      }
    }

    $(function() {
      function log( message ) {
        $( "<div>" ).text( message ).prependTo( "#log" );
        $( "#log" ).scrollTop( 0 );
      }

      $( "#id_fund" ).autocomplete({
        source: function( request, response ) {
          $.ajax({
            url: "/common/mf/avail_funds",
            dataType: "json",
            data: {
              q: request.term,
              fund_house: $("#id_fund_house").val()
            },
            success: function( data ) {
              response( data );
            }
          });
        },
        minLength: 3,
        select: function( event, ui ) {
          log( ui.item ?
            "Selected: " + ui.item.label :
            "Nothing selected, input was " + this.value);
        },
        open: function() {
          $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
        },
        close: function() {
          $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
        }
      });
    });


  </script>
{% endblock %}