{% extends 'base.html' %} 

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="{% url 'mutualfund:folio-list' %}">Mutual Funds</a></li>
    <li><a href="{% url 'mutualfund:folio-detail' folio_id %}">{{folio.folio}}</a></li>
    <li><a href="#">Delete Folio</a></li>
  </ul>
{% endblock %}


{% block canvas %}{% endblock canvas %}

{% block applicableactions %} {% endblock applicableactions %} 
{% block content %}

<form method="POST">
  {% csrf_token %}
  <h2>Do you want to delete the Folio {{ object.folio }}?</h2>
  <p><input type="submit" value="Submit" class="btn btn-danger"/>&nbsp;<a href="../../" class="btn btn-primary" role="button">Cancel</a></p>
</form>

{% endblock %}
