{% extends 'base.html' %} 

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="#">Mutual Funds</a></li>
  </ul>
{% endblock %} 

{% block applicableactions %} 
    <a href="refresh"><i class="fa fa-sync" aria-hidden="true" title="Refresh" style="font-size: 1.2em;"></i></a>
    <a style="padding-left:25px;" href="transactions"><i class="far fa-file-alt" aria-hidden="true" title="All Transactions" style="font-size: 1.2em;"></i></a>
    <a style="padding-left:25px;" href="upload"><i class="fa fa-upload" aria-hidden="true" title="Upload Transactions" style="font-size: 1.2em;"></i></a>
    <a style="padding-left:25px;padding-right:25px;" href="add"><i class="fa fa-plus" aria-hidden="true" title="Add Transaction" style="font-size: 1.2em;"></i></a>
{% endblock applicableactions %}
{% block canvas %}{% endblock canvas %}

{% block content %}
<table class="table table-borderless">
  <tr>
    <td>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="../mutualfunds/">Folios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Funds & Returns</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="insights">Insights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="sip">SIP</a>
        </li>
      </ul>
    </td>
  </tr>
</table>

  <table class="table table-hover dt-responsive" id="folio-table" style="width:100%">
    <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Code</th>
        <th>Fund Name</th>
        <th>Units</th>
        <th>Buy Value</th>
        <th>Latest Value</th>
        <th>P&L</th>
        <th>1 Day</th>
        <th>1 Week</th>
        <th>1 Month</th>
        <th>3 Months</th>
        <th>YTD</th>
        <th>1 Year</th> 
        <th>3 Years</th>
        <th>5 Years</th>
        <th>10 Years</th>
        <th>15 Years</th>
        <th>Inception</th>
      </tr>
    </thead>
    <tbody>
      {% for instance in object_list %}
      <tr>
        <td>{{ instance.id }}</td>
        <td>{{ instance.code }}</td>
        <td>{{ instance.name }}</td>
        <td>{{ instance.units }}</td>
        <td>{{ instance.buy_value }}</td>
        <td>{{ instance.latest_value }}</td>
        <td>{% if instance.gain > 0 %}{{ instance.gain }}{% else %}{{ instance.gain }}{% endif %}</td>
        <td>{{ instance.1d }}</td>
        <td>{{ instance.1w }}</td>
        <td>{{ instance.1m }}</td>
        <td>{{ instance.3m }}</td>
        <td>{{ instance.ytd }}</td>
        <td>{{ instance.1y }}</td>
        <td>{{ instance.3y }}</td>
        <td>{{ instance.5y }}</td>
        <td>{{ instance.10y }}</td>
        <td>{{ instance.15y }}</td>
        <td>{{ instance.inception }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}

<script>
{% block jquery %}
    //$("#myFilter").on("keyup", function() {
    //  var value = $(this).val().toLowerCase();
    //  $("#folioTable tr").filter(function() {
    //    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    //  });
    //});
    //  $("#myFilter").on("keyup", function() {
        
    //     var unicode = event.charCode ? event.charCode : event.keyCode;
    /*        if (unicode == 27) { $(this).val(""); }
            var searchKey = $(this).val().toLowerCase();
            $('.accordion-toggle').each(function() {
                var cellText = $(this).text().toLowerCase();
                var accordion = $('#accordion panel');           
        
                if (cellText.indexOf(searchKey) >= 0) {
                    $(this).parent().parent().show();
                } else {
                    $(this).parent().parent().hide();
                     $('.panel-collapse.in').collapse('hide');
                }
            });
            
      });
      */

      $('#folio-table').DataTable({
        "columnDefs": [
            { "type": "num", "targets": [0,1,3,4,5,6,7,8,9,10,11,12,13,14,15] }
        ]
      });
{% endblock jquery %}
</script>