{% extends 'base.html' %} 

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="{% url 'mutualfund:folio-list' %}">Mutual Funds</a></li>
    <li><a href="#">Transactions</a></li>
  </ul>
{% endblock %} 

{% block applicableactions %} 
  <a style="padding-left:25px;" href="{% url 'mutualfund:transaction-upload' %}"><i class="fa fa-upload" aria-hidden="true" title="Upload Transactions" style="font-size: 1.2em;"></i></a>
  {% if folio_id %}
    <a style="padding-left:25px;padding-right:25px;" href="{% url 'mutualfund:folio-add-transaction' folio_id %}"><i class="fa fa-plus" aria-hidden="true" title="Add Transaction" style="font-size: 1.2em;"></i></a>
  {% endif %}
{% endblock applicableactions %}

{% block canvas %}{% endblock canvas %}

{% block content %}

  <table class="table table-hover dt-responsive" id="trans-table" style="width:100%">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Folio</th>
        <th scope="col">Fund Name</th>
        <th scope="col">Transaction Date</th>
        <th scope="col">Transaction Type</th>
        <th scope="col">Price</th>
        <th scope="col">Units</th>
        <th scope="col">Conversion Rate</th>
        <th scope="col">Total Price</th>
        <th scope="col">Broker</th>
        <th scope="col">Notes</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for instance in object_list %}
      <tr>
        <td>{{ instance.id }}</td>
        <td>{{ instance.folio.folio }}</td>
        <td>{{ instance.folio.fund.name }}</td>
        <td>{{ instance.trans_date }}</td>
        <td>{{ instance.trans_type }}</td>
        <td>{{ instance.price }}</td>
        <td>{{ instance.units }}</td>
        <td>{{ instance.conversion_rate }}</td>
        <td>{{ instance.trans_price }}</td>
        <td>{{ instance.broker }}</td>
        <td>{{ instance.notes }}</td>
        <td>
          <a href="{{ instance.get_absolute_url }}/delete"><i class="fa fa-trash"  aria-hidden="true"></i> </a>
          <a href="{{ instance.get_absolute_url }}/update" style="padding-left:10px;" ><i class="far fa-edit" aria-hidden="true"></i> </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}

<script>
  {% block jquery %}
  $('#trans-table').DataTable({
    "columnDefs": [
      { "type": "date", "targets": [3] }
    ],
    "order": [[ 3, "desc" ]]
  });
{% endblock jquery %}
</script>