{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="{% url 'espps:espp-list' %}">ESPP</a></li>
    <li><a href="#">Create ESPP</a></li>
  </ul>
{% endblock viewname %}

{% block content %}
<section class="py-5">
  <div class="container px-5 ml-3">
    <div class="rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="custom-row gx-5 justify-content-flex-start">
        <div class="col-lg-8 col-xl-6">
          <form action="." method="POST" class="form-horizontal">
            {% csrf_token %}
            <div class="custom-row">
                {% if message_color == 'green' %}
                <div class="alert alert-success fade in alert-dismissible show" style="margin-top:18px;">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size:20px">×</span>
                  </button>    <strong>Success!</strong> {{message}}
                </div>
                {% elif message_color == 'red' %}
                <div class="alert alert-danger fade in alert-dismissible show" style="margin-top:18px;">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size:20px">×</span>
                  </button>    <strong>Error!</strong> {{message}}
                </div>
                {% endif %}

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="id_user">User <span style="color:red;">*</span></label></div>
                  <select class="form-control" name="user" required="" id="id_user">  
                  </select>
                </div>
              
                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="id_goal">Goal</label></div>
                  <select class="form-control" name="goal" id="id_goal">
                    <option value=""></option>
                  </select>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="id_exchange">Exchange <span style="color:red;">*</span></label></div>
                  <select class="form-control" name="exchange" required="" id="id_exchange">
                    <option value="">---------</option>
                    <option value="NASDAQ">NASDAQ</option>
                    <option value="NYSE">NYSE</option>
                    <option value="BSE">BSE</option>
                    <option value="NSE">NSE</option>
                  </select>
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="id_symbol">Symbol <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="text" name="symbol" value="{{symbol}}" maxlength="20" required="" id="id_symbol">
                </div>

                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="id_purchase_date">Purchase Date <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="date" name="purchase_date" value="{{purchase_date}}" placeholder="Select a date" required="" id="id_purchase_date">
                </div>
              
                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="id_subscription_fmv">Subscription FMV <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="number" name="subscription_fmv" value="{{subscription_fmv}}" step="0.01" required="" id="id_subscription_fmv">
                </div>
              
                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="id_purchase_fmv">Purchase FMV <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="number" name="purchase_fmv" value="{{purchase_fmv}}" step="0.01" required="" id="id_purchase_fmv">
                </div>
              
                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="id_purchase_price">Purchase Price <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="number" name="purchase_price" value="{{purchase_price}}" step="0.01" required="" id="id_purchase_price">
                </div>
              
                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="id_purchase_conversion_rate">Purchase Conversion Rate <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="number" name="purchase_conversion_rate" value="{{purchase_conversion_rate}}" step="0.01" required="" id="id_purchase_conversion_rate">
                  <button class="btn" id="id_forex_fetch" disabled=""><i class="fab fa-get-pocket"></i></button>
                </div>
              
                <div class="form-floating mb-3">
                  <div class="pb-2"><label for="id_shares_purchased">Shares Purchased <span style="color:red;">*</span></label></div>
                  <input class="form-control" type="number" name="shares_purchased" value="{{shares_purchased}}" step="0.0001" required="" id="id_shares_purchased">
                </div>
              
                <div class="form-floating mb-3">
                  <button type="submit" class="btn btn-primary" name="submit">Submit</button>
                  <a href="../" class="btn btn-danger" role="button">Cancel</a>
                </div>

              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block javascript %}
  {% load static %}
  <script src="{% static 'common.js' %}"></script>
  <script>
    function update_forex_rate_fetch_btn_status() {
      //console.log('inside update_forex_rate')
      var exch_elem = document.getElementById("id_exchange");
      //console.log('exch_elem value', exch_elem.value)
      var dt_elem = document.getElementById("id_purchase_date");
      //console.log('conv_elem value', dt_elem.value)
      if (dt_elem.value && exch_elem.value) {
        var conv_btn = document.getElementById("id_forex_fetch");
        conv_btn.disabled = false;
      } else {
        var conv_btn = document.getElementById("id_forex_fetch");
        conv_btn.disabled = true;
      }
      conv_elem = document.getElementById("id_purchase_conversion_rate");
      conv_elem.value = '';
    }
    function get_forex_rate_and_populate() {
      //console.log('fetch button clicked');
      dt = document.getElementById("id_purchase_date").value;
      var parts = dt.split('-');
      var year = parts[0];
      var month = parts[1];
      var day = parts[2];
      console.log(year, month, day);
      exch = document.getElementById("id_exchange").value;
      console.log(exch)
      if (exch == 'NASDAQ' || exch == 'NYSE') {
        var val = get_forex_rate(year, month, day, 'USD', 'INR');
        console.log('received forex rate as ', val)
        conv_elem = document.getElementById("id_purchase_conversion_rate");
        conv_elem.value = val;
      } else {
        conv_elem = document.getElementById("id_purchase_conversion_rate");
        conv_elem.value = 1;
      }
    }
    set_user_list({{users|safe}}, '{{user|safe}}');
    function get_goals_and_set_goal(response) {
      set_goals(response, '{{goal|safe}}');
    }
    btn = document.getElementById('id_forex_fetch');
    btn.disabled = true;
    btn.onclick = function(){
      get_forex_rate_and_populate();
      return false;
    };
    $("#id_exchange").change(function () {
        //console.log( $(this).val() );
        update_forex_rate_fetch_btn_status();
    });
    $("#id_purchase_date").change(function () {
        //console.log( $(this).val() );
        update_forex_rate_fetch_btn_status();
    });
  </script>
{% endblock javascript %}

{% block jquery %}
      //var conv_elem = document.getElementById("id_purchase_conversion_rate");
      //var parent = conv_elem.parentNode;
      //var btn = document.createElement("BUTTON");
      //btn.classList.add("btn");


      //parent.appendChild(btn);

{% endblock jquery %}