{% extends "accounts/accounts_base.html" %}

{% block title %}
    <title> Login | PortfolioManager </title>
{% endblock title %}

{% block content %}

{% load static %}

    <form class="form-signin" method="post">
        <div class="row">
            <div class="mx-auto text-center">
                {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                    </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        {% csrf_token %}
        <a href="{% url 'home' %}">
            <img src="{% static 'PortfolioManager.png' %}" height="100" width="300">
        </a>
        <h1 class="h3 mb-3 font-weight-normal text-center"> Sign In </h1>
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <p class="error-text">{{ error|escape }}</p>
            {% endfor %}
        {% endfor %}
        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Username" required="true">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required="true">
        </div>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit"> Login </button>
        <br>
        <div class="pt-1">
            <small class="text-muted">
                &nbsp; Looking for help? <a class="ml-2" href="https://github.com/krishnakuruvadi/portfoliomanager#be-part-of-the-community" target="_blank"> Join Our Community! </a>
            </small>
        </div>
    </form>

{% endblock content %}