{% extends 'base.html' %} 

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="{% url 'fixed-deposits:fixed-deposit-list' %}">Fixed Deposits</a></li>
    <li><a href="#">Delete Fixed Deposit</a></li>
  </ul>
{% endblock %}


{% block canvas %}{% endblock canvas %}

{% block applicableactions %} {% endblock applicableactions %}

{% block content %}

<form action="." method="POST">
  {% csrf_token %}
  <h2>Do you want to delete the fixed deposit "{{ object.number }}"?</h2>
  <p><input type="submit" value="Submit" class="btn btn-danger"/>&nbsp;<a href="../" class="btn btn-primary" role="button">Cancel</a></p>
</form>

{% endblock %}