{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="{% url 'ssys:ssy-list' %}">SSY</a></li>
    <li><a href="#"> {{ operation }}</a></li>
  </ul>
{% endblock viewname %}

{% block content %}
<section class="py-5">
  <div class="container px-5 ml-3">
    <div class="rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="custom-row gx-5 justify-content-flex-start">
        <div class="col-lg-8 col-xl-6">
          <form action="." method="POST">
            {% csrf_token %}

            <div class="custom-row">

              <div class="form-floating mb-3">
                <div class="pb-2">
                  <div class="row">
                    <div class="col">
                      <label for="number">Number</label>
                    </div>
                    <div class="col">
                      {{number}}
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-floating mb-3">
                <div class="pb-2"><label for="start_date">Start Date <span style="color:red;">*</span></label></div>
                <input class="form-control" type="date" id="start_date" name="start_date" value="{{start_date}}" required="true">
              </div>

              <div class="form-floating mb-3">
                <div class="pb-2"><label for="user">User <span style="color:red;">*</span></label></div>
                <select id="id_user" name="user" class="form-control" required="true"></select>
              </div>

              <div class="form-floating mb-3">
                <div class="pb-2"><label for="goal">Goal</label></div>
                <select id="id_goal" name="goal" class="form-control"></select>
              </div>

              <div class="form-floating mb-3">
                <button type="submit" class="btn btn-primary" name="submit">Submit</button>
                <a href="../" class="btn btn-danger" role="button">Cancel</a>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block ajaxcalls %}
          {
            url      : '/goal/get-goals/{{user|safe}}',
            data     : null,
            callback : get_goals_and_set_goal
          },
{% endblock ajaxcalls %}

{% block javascript %}
  {% load static %}
  <script src="{% static 'common.js' %}"></script>
  <script>
    set_user_list({{users|safe}}, '{{user|safe}}');

    function get_goals_and_set_goal(response) {
      set_goals(response, '{{goal|safe}}');
    }
  </script>
{% endblock javascript %}