{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %} 
<ul class="breadcrumb">
  <li><a href="{% url 'ssys:ssy-list' %}">SSY</a></li>
  <li><a href="#">Add SSY transaction</a></li>
</ul>
 
{% endblock viewname %}

{% block content %}
  <form method="POST">
    {% csrf_token %}
    <div class="row">
      <div class='col-sm-6'>

        <div class="form-group row">
          <label for="fund_name" class="col-sm-3 col-form-label">Number <span style="color:red;">*</span></label>
          <div class="col-sm-6">
            <div class="md-form mt-0">
              <label>{{number}}</label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="trans_date" class="col-sm-3 col-form-label">Transaction Date <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <input type="date" id="trans_date" name="trans_date" value="{{trans_date}}" required="true">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="entry_type" class="col-sm-3 col-form-label">Entry Type <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <select id="entry_type" name="entry_type" class="form-control" required="true">
                <option value="Buy">Buy</option>
                <option value="Buy">Sell</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="amount" class="col-sm-3 col-form-label">Amount <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <input type="number" id="amount" name="amount" value="{{amount}}" step="0.0001" required="true">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="int_comp" class="col-sm-3 col-form-label">Interest component? <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <input type="checkbox" name="interest_component" id="interest_component" value="{{interest_component}}">
            </div>
          </div>
        </div>
        
        <div class="form-group row">
          <label for="notes" class="col-sm-3 col-form-label">Notes</label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <textarea name="notes" rows="5" cols="20">{{notes}}</textarea>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="reference" class="col-sm-3 col-form-label">Reference</label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <textarea name="reference" rows="5" cols="20">{{reference}}</textarea>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <div class="md-form mt-0">
              <button type="submit" class="btn btn-primary" name="submit">Submit</button>
              <a href="../" class="btn btn-danger" role="button">Cancel</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </form>

{% endblock content %}

{% block javascript %}
  <script>
    e = document.getElementById('interest_component');
    var intcomp = "{{interest_component|safe}}"
    console.log(e.checked);
    console.log(intcomp);
    if (intcomp == "True") {
      e.checked = true;
    } else {
      e.checked = false;
    }
</script>
{% endblock javascript %}
