{% extends 'base.html' %} 
{% load template_filters %}
{% block viewname %} 
  <ul class="breadcrumb">
    <li><a href="#">SSY</a></li>
  </ul>
{% endblock %} 

{% block applicableactions %} 
    <a href="create"><i class="fa fa-plus" aria-hidden="true" title="Add SSY" style="font-size: 1.2em;"></i></a>
    <a style="padding-left:25px;" href="#" data-toggle="modal" data-target="#helpModal"><i class="fa fa-sharp fa-solid fa-question" aria-hidden="true" title="Help" style="font-size: 1.2em;"></i></a>
{% endblock applicableactions %}
{% block canvas %}{% endblock canvas %}

{% block content %}
  <table class="table table-borderless">
    <tr>
      <td style="text-align:right">
        <div class="row">
          <div class="col-sm-6 col-lg-2 col-md-3">
            <div class="card bg-light">
              <div class="card-body">
                  <h6 class="card-title">Contribution</h5>
                  <p class="card-text">{{preferred_currency}} {{total_contribution}}</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-2 col-md-3">
            <div class="card bg-light">
              <div class="card-body">
                  <h6 class="card-title">Interest</h5>
                  <p class="card-text">{{preferred_currency}} {{total_interest}} </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-2 col-md-3">
            <div class="card bg-light">
              <div class="card-body">
                  <h6 class="card-title">Latest Value</h5>
                  <p class="card-text">{{preferred_currency}} {{latest_value}} </p>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <table class="table table-hover dt-responsive" id="ssy-table" style="width:100%">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Number</th>
        <th scope="col">Start Date</th>
        <th scope="col">User</th>
        <th scope="col">Goal</th>
        <th scope="col">Principal</th>
        <th scope="col">Interest</th>
        <th scope="col">Total</th>
        <th scope="col">ROI</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for instance in object_list %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>

        <td>
          <a href="{% url 'ssys:ssy-detail' instance.number %}">{{ instance.number }}</a>
        </td>
        <td>{{ instance.start_date }}</td>
        <td>{{ user_name_mapping|lookup:instance.user }}</td>
        <td>{{ goal_name_mapping|lookup:instance.goal }}</td>
        <td>{{ principal|lookup:instance.number }}</td>
        <td>{{ interest|lookup:instance.number }}</td>
        <td>{{ total|lookup:instance.number }}</td>
        <td>{{ roi|lookup:instance.number }}</td>
        <td>
          <a href="{{ instance.get_absolute_url }}delete" class="confirm-delete-ssy"><i class="fa fa-trash" aria-hidden="true" title="Delete Account"></i> </a>
          <a href="{{ instance.get_absolute_url }}update"><i class="far fa-edit" aria-hidden="true" title="Update Account"></i> </a>
          <a href="{{ instance.get_absolute_url }}transactions"><i class="far fa-file-alt" aria-hidden="true" title="View Transactions"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

<!-- Help Modal -->
{% block helpmodaltitle %}
  Sukanya Samridhi Yojana
{% endblock helpmodaltitle %}

{% block helpmodalsummarybody %}
View, add, edit or delete your SSY accounts.
Monitor your investments and make informed decisions with the aggregated data.

{% endblock helpmodalsummarybody %}

{% block helpmodalnavigationbody %}
<li>
  <i class="fa fa-plus"></i> - Add SSY account
</li>
<li>
  <i class="fa fa-bell"></i> - Investment/asset alerts
</li>
{% endblock helpmodalnavigationbody %}

{% block helpmodaltasksbody %}
<li>
  From the goals page (<i class="fas fa-bullseye"></i>), configure a goal to track your transactions against. <strong> (Optional) </strong>
</li>
<li>
  Create users through the Users (<i class="fas fa-users"></i>) page. Transactions accross the app are tied to a user. <strong> (Optional) </strong>
</li>
<li>
  Add PPF accounts (<i class="fa fa-plus"></i>) that you want to track.
</li>
<li>
  View and Add transactions (<i class="far fa-file-alt"></i>) for each account.
</li>
<li>
  Edit account (<i class="far fa-edit"></i>) details.
</li>
{% endblock helpmodaltasksbody %}

<script>
  {% block jquery %}
  $('#ssy-table').DataTable();
  {% endblock jquery %}
</script>

{% block javascript %}
  {% load static %}
  <script src="{% static 'common.js' %}"></script>
  <script>
    $(document).on('click', '.confirm-delete', function(){
      return confirm('Are you sure you want to delete all SSYs?');
    })
    $(document).on('click', '.confirm-delete-ssy', function(){
      return confirm('Are you sure you want to delete the SSY?');
    })
  </script>
{% endblock javascript %}