{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="#">Tax</a></li>
  </ul>
{% endblock viewname %}

{% block content %}
<table class="table table-borderless">
  <tr>
    <td><ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="details">Tax Details</a>
      </li>
    </ul></td>
  </tr>
</table>

{% endblock content %}

