{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="{% url 'shares:shares-list' %}">Shares</a></li>
    <li><a href="#">{{operation}}</a></li>
  </ul>
{% endblock viewname %}

{% block content %}

  <form method="POST">
    {% csrf_token %}
    <div class="row">
      <div class='col-sm-6'>
        <div class="form-group row">
          <label for="exchange" class="col-sm-3 col-form-label">Exchange <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <select id="exchange" name="exchange" class="form-control" required="true">
              </select>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="symbol" class="col-sm-3 col-form-label">Symbol <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <input type="text" id="symbol" name="symbol" value="{{symbol}}" required="true">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="user" class="col-sm-3 col-form-label">User <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <select id="id_user" name="user" class="form-control" required="true"></select>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="trans_date" class="col-sm-3 col-form-label">Transaction Date <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <input type="date" id="trans_date" name="trans_date" value="{{trans_date}}" required="true">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="conversion_rate" class="col-sm-3 col-form-label">Conversion Rate <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <input type="number" id="conversion_rate" name="conversion_rate" value="{{conversion_rate}}" step="0.001">
            </div>
          </div>
          <div class="col-sm-3">
            <button type="submit" class="btn btn-primary" id="fetch" name="fetch">Fetch</button>
          </div>
        </div>

        <div class="form-group row">
          <label for="trans_type" class="col-sm-3 col-form-label">Transaction Type <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <select id="trans_type" name="trans_type" class="form-control" required="true">
                <option value="Buy">Buy</option>
                <option value="Buy">Sell</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="price" class="col-sm-3 col-form-label">Price <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <input type="number" id="price" name="price" value="{{price}}" step="0.000001" required="true">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="quantity" class="col-sm-3 col-form-label">Quantity <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <input type="number" id="quantity" name="quantity" value="{{quantity}}" step="0.000001" required="true">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="trans_price" class="col-sm-3 col-form-label">Transaction Price <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <input type="number" id="trans_price" name="trans_price" value="{{trans_price}}" step="0.000001" required="true"> 
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="broker" class="col-sm-3 col-form-label">Broker <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <input type="text" id="broker" name="broker" value="{{broker}}" required="true">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="notes" class="col-sm-3 col-form-label">Notes</label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <textarea name="notes" rows="5" cols="20">{{notes}}</textarea>
            </div>
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col-sm-6">
            <div class="md-form mt-0">
              <button type="submit" class="btn btn-primary" name="submit">Submit</button>
              <a href="../" class="btn btn-danger" role="button">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

{% endblock content %}

{% block javascript %}
  {% load static %}
  <script src="{% static 'common.js' %}"></script>
  <script>
    set_user_list({{users|safe}}, '{{user|safe}}');
    
    var exchange = '{{exchange|safe}}';
    var exchdropdown = document.getElementById('exchange');
    var exchs = ['BSE', 'NSE', 'NASDAQ', 'NYSE'];
    exchs.forEach(function(item, index, array) {
      console.log(item, index)
      var opt = document.createElement('option');
      opt.appendChild( document.createTextNode(item) );
      opt.value = item;
      if (exchange != '') {
        if (item == exchange) {
          opt.selected = true;
        }
      }
      exchdropdown.appendChild(opt);
    })
    setExchangePrice();

    $("#price").change(function () {
      setTransPrice();
    });
    $("#quantity").change(function () {
      setTransPrice();
    });
    $("#conversion_rate").change(function () {
      setTransPrice();
    });
    $("#exchange").change(function () {
      setExchangePrice();
    });
    $("#trans_date").change(function () {
      setExchangePrice();
    });
    function setExchangePrice() {
      var exchangeElem = document.getElementById("exchange");
      var exchange = exchangeElem.value
      console.log(exchange)
      var conversionRateElem = document.getElementById("conversion_rate");
      document.getElementById('fetch').disabled=true;
      if (exchange == 'BSE' || exchange=='NSE') {
        conversionRateElem.value = 1;
      } else {
        var dateElem = document.getElementById("trans_date");
        dateVal = dateElem.value;
        if (dateVal !='') {
          document.getElementById('fetch').disabled=false;
        }
      }
      setTransPrice();
    }
    function setTransPrice(){
      var priceElem = document.getElementById("price");
      var price = priceElem.value
      var quantityElem = document.getElementById("quantity");
      var quantity = quantityElem.value
      var conversionRateElem = document.getElementById("conversion_rate");
      var conversionRate = conversionRateElem.value
      console.log(price)
      console.log(quantity)
      console.log(conversionRate)
      if (quantity!= '' && price!='' && conversionRate!='') {
        totalPrice = quantity*price*conversionRate
        console.log(totalPrice)
        totalPriceElem = document.getElementById("trans_price")
        totalPriceElem.value = precise(totalPrice)
      }  
    }
    function precise(num) {
      //return Number.parseFloat(x).toPrecision(prec);
      return Math.round((num + Number.EPSILON) * 1000000) / 1000000
    }
  </script>
{% endblock %}