{% extends 'base.html' %} 

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="#">Shares</a></li>
  </ul>
{% endblock %} 

{% block applicableactions %} 
    <a href="refresh"><i class="fa fa-sync" aria-hidden="true" title="Refresh" style="font-size: 1.2em;"></i></a>
    <a style="padding-left:25px;" href="transactions"><i class="far fa-file-alt" aria-hidden="true" title="All Transactions" style="font-size: 1.2em;"></i></a>
    <a style="padding-left:25px;" href="upload"><i class="fa fa-upload" aria-hidden="true" title="Upload Transactions" style="font-size: 1.2em;"></i></a>
    <a style="padding-left:25px;" href="add"><i class="fa fa-plus" aria-hidden="true" title="Add Transaction" style="font-size: 1.2em;"></i></a>
    <a style="padding-left:25px;padding-right:25px;" href="delete" class="confirm-delete"><i class="fa fa-trash" aria-hidden="true" title="Delete Shares" style="font-size: 1.2em;"></i></a>
{% endblock applicableactions %}
{% block canvas %}{% endblock canvas %}

{% block content %}
  <table class="table table-borderless">
    <tr>
      <td>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" href="#">Shares</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="insights">Insights</a>
          </li>
        </ul>
      </td>
    </tr>
  </table>

  <table class="table table-borderless">
    <tr>
      <td>
        <form method="POST">
          {% csrf_token %}
            <div class="row">

              <div class="col-sm-12 col-md-6 col-lg-1">
                <label for="user" class="col-sm-3 col-form-label">User</label>
              </div>

              <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="md-form mt-0">
                  <select id="id_user" name="user" class="form-control"></select>
                </div>
              </div>

              <div class="col-sm-12 col-md-6 col-lg-1">
                <label for="exchange" class="col-sm-3 col-form-label">Exchange</label>
              </div>

              <div class="col-sm-12 col-md-6 col-lg-1">
                <div class="md-form mt-0">
                  <select id="id_exchange" name="exchange" class="form-control"></select>
                </div>
              </div>

              <div class="col-sm-12 col-md-6 col-lg-2">
                <label for="zero_val" class="col-form-label">Show zero value shares?</label>
              </div>
              
              <div class="col-sm-12 col-md-6 col-lg-1">
                <input type="checkbox" name="show_zero_val" id="show_zero_val" value="{{show_zero_val}}">
              </div>
              

              <div class="col-sm-12 col-md-6 col-lg-1">
                <button type="submit" class="btn btn-primary" name="submit">Submit</button>
              </div>

            </div>
        </form>
      </td>
    </tr>
    <tr>
      <td style="text-align:right"><b>Total Investment:</b> {{total_investment}} &nbsp;&nbsp;&nbsp;<b>Current Value:</b> {{latest_value}} &nbsp;&nbsp;&nbsp;<b>Unrealised Gain:</b> {{total_gain}} &nbsp;&nbsp;&nbsp;<b>Realised Gain:</b> {{realised_gain}} &nbsp;&nbsp;&nbsp;<b>Last Updated:</b> {{as_on_date}}</td>
    </tr>
  </table>
  <table class="table table-hover" id="shares-table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Symbol</th>
        <th scope="col">User</th>
        <th scope="col">Goal</th>
        <th scope="col">Quantity</th>
        <th scope="col">Avg. Buy Price</th>
        <th scope="col">Buy Value</th>
        <th scope="col">Latest Price</th>
        <th scope="col">Latest Value</th>
        <th scope="col">P&L</th>
        <th scope="col">Realised P&L</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for instance in object_list %}
      <tr>
        <td>{{ instance.id }}</td>
        <td><a href="{% url 'shares:share-detail' instance.id %}">{{ instance.symbol }}</a></td>
        <td>{{ user_name_mapping |lookup:instance.user }}</td>
        <td>{{ goal_name_mapping|lookup:instance.goal }}</td>
        <td>{{ instance.quantity }}</td>
        <td>{{ instance.buy_price }}</td>
        <td>{{ instance.buy_value }}</td>
        <td>{{ instance.latest_price }}</td>
        <td>{{ instance.latest_value }}</td>
        <td>{{ instance.gain }}</td>
        <td>{{ instance.realised_gain }}</td>
        <td>
          <a href="{{ instance.get_absolute_url }}delete"><i class="fa fa-trash"  aria-hidden="true"></i> </a>
          <a href="{{ instance.get_absolute_url }}update" style="padding-left:10px;" ><i class="far fa-edit" aria-hidden="true"></i> </a>
          <a href="{{ instance.get_absolute_url }}transactions" style="padding-left:10px;" ><i class="far fa-file-alt" aria-hidden="true"></i> </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

<script>
  {% block jquery %}
  $('#shares-table').DataTable({
        "columnDefs": [
            { "type": "num", "targets": [0,4,5,6,7,8,9] }
        ]
      });
{% endblock jquery %}
</script>

{% block javascript %}
  {% load static %}
  <script src="{% static 'common.js' %}"></script>
  <script>
    set_user_list({{users|safe}}, '{{user|safe}}');
    e = document.getElementById('show_zero_val');
    var show = "{{show_zero_val|safe}}"
    console.log(e.checked);
    console.log(show);
    if (show == "True") {
      e.checked = true;
    } else {
      e.checked = false;
    }
    $(document).on('click', '.confirm-delete', function(){
      return confirm('Are you sure you want to delete all shares?');
    })
    set_exchange_list({{exchanges|safe}}, '{{exchange|safe}}')
    function set_exchange_list(exchanges, sel_exchange) {
      $('#id_exchange').empty();
      $('#id_exchange')
          .append($('<option>', { value : '' })
          .text(''));
      var exchdropdown = document.getElementById('id_exchange');

      console.log(exchanges);
      console.log(sel_exchange)
      for (x in exchanges) {
          exchange = exchanges[x]
          // create new option element
          var opt = document.createElement('option');
          // create text node to add to option element (opt)
          opt.appendChild( document.createTextNode(exchange) );
          // set value property of opt
          opt.value = exchange;
          if (opt.value == sel_exchange) {
            opt.selected = true;
          }
          // add opt to end of select box (sel)
          exchdropdown.appendChild(opt);
      }
    }
</script>
{% endblock javascript %}