{% extends 'base.html' %} 

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="{% url 'shares:shares-list' %}">Shares</a></li>
    {% if share_name != '' %}
    <li><a href="{% url 'shares:share-detail' share_id %}">{{share_name}}</a></li>
    {% endif %}
    <li><a href="#">Transactions</a></li>
  </ul>
{% endblock %} 

{% block applicableactions %} 
    <a href="{% url 'shares:transaction-upload' %}"><i class="fa fa-upload" aria-hidden="true" title="Upload Transactions" style="font-size: 1.2em;"></i></a>
    <a style="padding-left:25px;" href="{% url 'shares:transaction-add' %}"><i class="fa fa-plus" aria-hidden="true" title="Add Transaction" style="font-size: 1.2em;"></i></a>
{% endblock applicableactions %}
{% block canvas %}{% endblock canvas %}

{% block content %}

  <table class="table table-hover dt-responsive" id="trans-table" style="width:100%">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Exchange</th>
        <th scope="col">Symbol</th>
        <th scope="col">Date</th>
        <th scope="col">Type</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Conversion Rate</th>
        <th scope="col">Total Price</th>
        <th scope="col">Broker</th>
        <th scope="col">Notes</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for instance in object_list %}
      <tr>
        <td>{{ instance.id }}</td>
        <td>{{ instance.share.exchange }}</td>
        <td>{{ instance.share.symbol }}</td>
        <td>{{ instance.trans_date }}</td>
        <td>{{ instance.trans_type }}</td>
        <td>{{ instance.price }}</td>
        <td>{{ instance.quantity }}</td>
        <td>{{ instance.conversion_rate }}</td>
        <td>{{ instance.trans_price }}</td>
        <td>{{ instance.broker }}</td>
        <td>{{ instance.notes }}</td>
        <td>
          <a href="{{ instance.get_absolute_url }}/delete"><i class="fa fa-trash"  aria-hidden="true"></i> </a>
          <a href="{{ instance.get_absolute_url }}/update" style="padding-left:10px;" ><i class="far fa-edit" aria-hidden="true"></i> </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

<script>
  {% block jquery %}
  $('#trans-table').DataTable({
        "columnDefs": [
            { "type": "num", "targets": [0,5,6,7,8] },
            { "type": "date", "targets": [3] }
        ],
        "order": [[ 3, "desc" ]]
      });
{% endblock jquery %}
</script>