{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="{% url 'shares:shares-list' %}">Shares</a></li>
    <li><a href="#">Upload Transactions</a></li>
  </ul>
{% endblock viewname %}

{% block content %}

<table class="table table-condensed table-borderless">
  <tr>
    <td>
      <form method="POST" enctype="multipart/form-data">
        <h5 style="padding-bottom: 20px;">Upload CSV File</h5>
        {% csrf_token %}

        <div class="row">
          <div class='col-sm-12'>
            
            <div class="form-group row">
              <label for="user" class="col-sm-3 col-form-label">User</label>
              <div class="col-sm-9">
                <div class="col-sm-9">
                  <select id="id_user" name="user" class="form-control"></select>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="brokerControlSelect" class="col-sm-3 col-form-label">Broker</label>
              <div class="col-sm-9">
                <div class="col-sm-9">
                  <select class="form-control" id="brokerControlSelect" name="brokerControlSelect">
                    <option>ZERODHA</option>
                  </select>
                </div>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="file" class="col-sm-3 col-form-label">File</label>
              <div class="col-sm-9">
                <div class="col-sm-9">
                  <input type="file" name="document" required>
                </div>
              </div>
            </div>
            
            <div class="form-group row">
              <div class="col-sm-9">
                <button type="submit" class="btn btn-primary" name="submit">Submit</button>
                <a href="../" class="btn btn-danger" role="button">Cancel</a>
            </div>

          </div>
        </div>
      </form>
    </td>
    <td>
      <form method="POST" enctype="multipart/form-data">
        <h5 style="padding-bottom: 20px;">Pull From Broker</h5>
        {% csrf_token %}
        <div class="row">
          <div class='col-sm-12'>
            
            <div class="form-group row">
              <label for="pull-user" class="col-sm-3 col-form-label">User</label>
              <div class="col-sm-9">
                <div class="col-sm-9">
                  <select id="id_pull_user" name="pull-user" class="form-control"></select>
                </div>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="pullBrokerFormControlSelect" class="col-sm-3 col-form-label">Broker</label>
              <div class="col-sm-9">
                <div class="col-sm-9">
                  <select class="form-control" id="pullBrokerControlSelect" name="pullBrokerControlSelect">
                    <option>ROBINHOOD</option>
                    <option>ZERODHA</option>
                  </select>
                </div>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="pull-userid" class="col-sm-3 col-form-label">User ID</label>
              <div class="col-sm-9">
                <div class="col-sm-9">
                  <input type="text" id="id_pull_user_id" name="pull-user-id" placeholder="Broker UserID" size="50">
                </div>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="pull-passwd" class="col-sm-3 col-form-label">Password</label>
              <div class="col-sm-9">
                <div class="col-sm-9">
                  <input type="password" id="id_pull_passwd" name="pull-passwd" placeholder="Broker Password">
                </div>
              </div>
            </div>
            
            <div class="form-group row" id="div_2fa">
              <label for="pull-2fa" class="col-sm-3 col-form-label">2FA</label>
              <div class="col-sm-9">
                <div class="col-sm-9">
                  <input type="password" id="id_pull_2fa" name="pull-2fa" placeholder="2FA Password">
                </div>
              </div>
            </div>
            
            <div class="form-group row">
              <div class="col-sm-9">
                <div class="col-sm-9">
                  <button type="submit" class="btn btn-primary" id="pull-submit" name="pull-submit">Submit</button>
                  <a href="../" class="btn btn-danger" role="button">Cancel</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </form>
    </td>
  </tr>
</table>
{% endblock content %}

{% block javascript %}
  <script>
    var users = {{users|safe}}
    var userds = ['id_user', 'id_pull_user']
    for (userd in userds) {
      var el = document.getElementById(userds[userd]);
      var opt = document.createElement('option');
      // create text node to add to option element (opt)
      opt.appendChild( document.createTextNode('') );
      // set value property of opt
      opt.value = ''; 
      el.appendChild(opt);
    }
    console.log(users);
    for (x in users) {
      user = users[x]
      for (userd in userds) {
        var el = document.getElementById(userds[userd]);
        // create new option element
        var opt = document.createElement('option');
        // create text node to add to option element (opt)
        opt.appendChild( document.createTextNode(user) );
        // set value property of opt
        opt.value = x;
        // add opt to end of select box (sel)
        el.appendChild(opt);
      }
    }
    document.getElementById('pull-submit').disabled=true;
    updatePullSubmitButtonStatus()
    $("#id_pull_user").change(function () {
      updatePullSubmitButtonStatus();
    });
    $("#pullBrokerControlSelect").change(function () {
      updatePullSubmitButtonStatus();
    });
    $("#id_pull_user_id").change(function () {
      updatePullSubmitButtonStatus();
    });
    $("#id_pull_passwd").change(function () {
      updatePullSubmitButtonStatus();
    });
    $("#id_pull_2fa").change(function () {
      updatePullSubmitButtonStatus();
    });
    function updatePullSubmitButtonStatus() {
      var user = document.getElementById('id_pull_user').value;
      var broker = document.getElementById('pullBrokerControlSelect').value;
      var userid = document.getElementById('id_pull_user_id').value;
      var passwd = document.getElementById('id_pull_passwd').value;
      var twofa = document.getElementById('id_pull_2fa').value;
      document.getElementById('pull-submit').disabled=true;
      if ((user!='') && (broker!='') && (userid!='') && (passwd!='')) {
        if ((broker != 'ROBINHOOD') && (twofa!='')) {
          document.getElementById('pull-submit').disabled=false;
        }
        if (broker == 'ROBINHOOD') {
          document.getElementById('pull-submit').disabled=false;
        }
      }
      var el = document.getElementById("div_2fa");

      if (broker == 'ROBINHOOD') {
        el.style.display = "none";
      }
      if (broker == 'ZERODHA') {
        el.style.display = null;
      }

    }

  </script>
{% endblock %}