{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="{% url 'shares:shares-list' %}">Shares</a></li>
    <li><a href="#">Upload Transactions</a></li>
  </ul>
{% endblock viewname %}

{% block content %}

<table class="table table-condensed table-borderless">
  <tr>
    <td>
      <form method="POST" enctype="multipart/form-data">
        <h5 style="padding-bottom: 20px;">Upload CSV File</h5>
        {% csrf_token %}

        <div class="row">
          <div class='col-sm-12'>
            
            <div class="form-group row">
              <label for="user" class="col-sm-3 col-form-label">User</label>
              <div class="col-sm-9">
                <div class="col-sm-9">
                  <select id="id_user" name="user" class="form-control"></select>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="brokerControlSelect" class="col-sm-3 col-form-label">Broker</label>
              <div class="col-sm-9">
                <div class="col-sm-9">
                  <select class="form-control" id="brokerControlSelect" name="brokerControlSelect">
                    <option>ZERODHA</option>
                  </select>
                </div>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="file" class="col-sm-3 col-form-label">File</label>
              <div class="col-sm-9">
                <div class="col-sm-9">
                  <input type="file" name="document" required>
                </div>
              </div>
            </div>
            
            <div class="form-group row">
              <div class="col-sm-9">
                <button type="submit" class="btn btn-primary" name="submit">Submit</button>
                <a href="../" class="btn btn-danger" role="button">Cancel</a>
            </div>

          </div>
        </div>
      </form>
    </td>
    <td>
      <form method="POST" enctype="multipart/form-data">
        <h5 style="padding-bottom: 20px;">Pull From Broker</h5>
        {% csrf_token %}
        <div class="row">
          <div class='col-sm-12'>
            <label for="pull-message" id="pull-message" style="color:blue"></label>
            
            <div class="form-group row">
              <label for="pull-user" class="col-sm-3 col-form-label">User</label>
              <div class="col-sm-9">
                <div class="col-sm-9">
                  <select id="id_pull_user" name="pull-user" class="form-control"></select>
                </div>
              </div>
            </div>
            
            <div class="form-group row" id="div_pull_broker">
              <label for="pullBrokerFormControlSelect" class="col-sm-3 col-form-label">Broker</label>
              <div class="col-sm-9">
                <div class="col-sm-9">
                  <select class="form-control" id="pullBrokerControlSelect" name="pullBrokerControlSelect">
                    <option>ROBINHOOD</option>
                    <option>ZERODHA</option>
                  </select>
                </div>
              </div>
            </div>
            
            <div class="form-group row" id="div_pull_user_id">
              <label for="pull-userid" class="col-sm-3 col-form-label">User ID</label>
              <div class="col-sm-9">
                <div class="col-sm-9">
                  <input type="text" id="id_pull_user_id" name="pull-user-id" placeholder="Broker UserID" size="50">
                </div>
              </div>
            </div>
            
            <div class="form-group row" id="div_pull_passwd">
              <label for="pull-passwd" class="col-sm-3 col-form-label">Password</label>
              <div class="col-sm-9">
                <div class="col-sm-9">
                  <input type="password" id="id_pull_passwd" name="pull-passwd" placeholder="Broker Password">
                </div>
              </div>
            </div>
            
            <div class="form-group row" id="div_2fa">
              <label for="pull-2fa" class="col-sm-3 col-form-label">2FA</label>
              <div class="col-sm-9">
                <div class="col-sm-9">
                  <input type="password" id="id_pull_2fa" name="pull-2fa" placeholder="2FA Password">
                </div>
              </div>
            </div>

            <div class="form-group row" id="div_challenge_type">
              <label for="pull-ct" class="col-sm-3 col-form-label">Challenge Type</label>
              <div class="col-sm-9">
                <div class="col-sm-9">
                  <select class="form-control" id="id_pull_ct" name="challenge-type">
                    <option>SMS</option>
                    <option>E-Mail</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group row" id="div_rt">
              <label for="pull-rt" class="col-sm-3 col-form-label">Challenge Answer</label>
              <div class="col-sm-9">
                <div class="col-sm-9">
                  <input type="text" id="id_pull_rti" name="run-time-input">
                </div>
              </div>
            </div>

            
            <div class="form-group row">
              <div class="col-sm-9">
                <div class="col-sm-9">
                  <button type="submit" class="btn btn-primary" id="pull-submit" name="pull-submit">Submit</button>
                  <a href="../" class="btn btn-danger" role="button">Cancel</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </form>
    </td>
  </tr>
</table>
{% endblock content %}

{% block javascript %}
  <script>
    var get_challenge = "{{get_challenge|safe}}";
    var pull_message = "{{pull_message|safe}}";
    if (pull_message != "") {
      document.getElementById("pull-message").innerHTML = "<red>"+pull_message+"</red>";
    } else {
      document.getElementById("pull-message").style.display = "none";
    }
    var users = {{users|safe}};
    var userds = ['id_user', 'id_pull_user'];
    for (userd in userds) {
      var el = document.getElementById(userds[userd]);
      var opt = document.createElement('option');
      // create text node to add to option element (opt)
      opt.appendChild( document.createTextNode('') );
      // set value property of opt
      opt.value = ''; 
      el.appendChild(opt);
    }
    console.log(users);
    for (x in users) {
      user = users[x]
      for (userd in userds) {
        var el = document.getElementById(userds[userd]);
        // create new option element
        var opt = document.createElement('option');
        // create text node to add to option element (opt)
        opt.appendChild( document.createTextNode(user) );
        // set value property of opt
        opt.value = x;
        // add opt to end of select box (sel)
        el.appendChild(opt);
      }
    }
    document.getElementById('pull-submit').disabled=true;
    updatePullSubmitButtonStatus()
    $("#id_pull_user").change(function () {
      updatePullSubmitButtonStatus();
    });
    $("#pullBrokerControlSelect").change(function () {
      updatePullSubmitButtonStatus();
    });
    $("#id_pull_user_id").change(function () {
      updatePullSubmitButtonStatus();
    });
    $("#id_pull_passwd").change(function () {
      updatePullSubmitButtonStatus();
    });
    $("#id_pull_2fa").change(function () {
      updatePullSubmitButtonStatus();
    });
    $("#id_pull_rti").change(function () {
      updatePullSubmitButtonStatus();
    });
    function updatePullSubmitButtonStatus() {
      var user = document.getElementById('id_pull_user').value;
      var broker = document.getElementById('pullBrokerControlSelect').value;
      var userid = document.getElementById('id_pull_user_id').value;
      var passwd = document.getElementById('id_pull_passwd').value;
      var twofa = document.getElementById('id_pull_2fa').value;
      var challenge_type = document.getElementById('id_pull_ct').value;
      var rti = document.getElementById('id_pull_rti').value;
      var rt_ans_section = document.getElementById("div_rt");
      var twofa_elem = document.getElementById("div_2fa");
      var challenge_type_section = document.getElementById("div_challenge_type");
      var pull_broker_section = document.getElementById("div_pull_broker");

      document.getElementById('pull-submit').disabled=true;
      
      if (broker == 'ROBINHOOD') {
        twofa_elem.style.display = "none";
        if (get_challenge == "1") {
          rt_ans_section.style.display = null;
          pull_broker_section.style.display="none";
          document.getElementById('pullBrokerControlSelect').disabled=true;
          document.getElementById("id_pull_passwd").disabled=true;
          document.getElementById("id_pull_user_id").disabled=true;
          if (rti != "") {
            document.getElementById('pull-submit').disabled=false;
          } else {
            document.getElementById('pull-submit').disabled=true;
          }
        } else {
          rt_ans_section.style.display = "none";
          pull_broker_section.style.display=null;
          challenge_type_section.style.display = null;
          document.getElementById('pullBrokerControlSelect').disabled=false;
          document.getElementById("id_pull_passwd").disabled=false;
          document.getElementById("id_pull_user_id").disabled=false;
          if ((user!='') && (broker!='') && (userid!='') && (passwd!='')) {
            document.getElementById('pull-submit').disabled=false;
          }
        }
      }
      if (broker == "ZERODHA") {
        twofa_elem.style.display = null;
        rt_ans_section.style.display = "none";
        challenge_type_section.style.display = "none";
        if ((user!='') && (broker!='') && (userid!='') && (passwd!='') && (twofa!='')) {
          document.getElementById('pull-submit').disabled=false;
        } else {
          document.getElementById('pull-submit').disabled=true;
        }
      }
    }

  </script>
{% endblock %}