@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    min-height: 100vh;
    background: #fff;
}

.navigation
{
    position: fixed;
    width: 250px;
    height: calc(100vh - 60px);
    background: #593f75;
    transition: 0.5s;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    z-index: 90;
}

.main
{
    margin-left:255px;
    margin-top: 0px;
    transition: 0.5s;
    overflow:scroll;
    scroll-behavior: auto;
    padding: 0px 10px 0px 10px;
    z-index: 80;
}

.logo
{
    margin-left:60px;
    padding: 0px 0px 0px 0px;
    transition: 0.5s;
}

.navigation.active
{
    width: 65px;
}

.main.deactive
{
    margin-left: 70px;
}

.logo.deactive
{
    margin-left: 70px;
}

.navigation ul
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
}

.navigation ul li:hover
{
    background: #368abf;
}

.navigation ul li
{
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li.active
{
    background: #9b7db8;
}

.navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0px 30px 0px 0px;
}

.navigation ul li a .icon .fas
{
    font-size: 20px;
}

.navigation ul li a .title
{
    position: relative;
    display: block;
    padding: 0px 0px 0px 0px;
    margin-left:0;
    margin-right: 10px;
    height: 30px;
    line-height: 30px;
    text-align: start;
    white-space: nowrap;
}

.menu-container{
    position: absolute;
    top:0;
    right:0;
    width: 100%;
    height:60px;
    background: #593f75;
    position: sticky;
    z-index: 100;
}

.navbar-brand{
    color: #ffffff;
    display: flex;
    justify-content: left;
    align-items: center;
}
.brand-name{
    padding-left: 10px;
}

.toggle
{
    position: absolute;
    top:0;
    right:0;
    width: 60px;
    height:60px;
    cursor: pointer;
    text-align: right;
    padding: 15px 15px 0px 10px;
}

.toggle:hover
{
    background: #368abf;
}

.toggle:before
{
    font-family: "fontAwesome";
    position:absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color:#fff;
}

p {
    font-family : "Verdana";
    font-size: 14px;
}
h1 {
    font-family: "Verdana";
    font-size: 14px;
}
table {
    font-family: "Verdana";
    font-size: 14px;
}
div {
    font-family: "Verdana";
    font-size: 14px;
}

.breadcrumb { 
    list-style: none; 
    overflow: hidden; 
    font: 14px Verdana, Helvetica, Arial, Sans-Serif;
    background-color: transparent; /* Overriding default Bootstrap breadcrumb value of #e9ecef */
}

.breadcrumb li a {
    color: white;
    text-decoration: none; 
    padding: 5px 15px 5px 12px;
    background: transparent;
    position: relative; 
    display: block;
    float: left;
    z-index: 1;
}

.breadcrumb li a:after { 
    content: " "; 
    display: block; 
    width: 96%; 
    height: 50%;
    background: linear-gradient(to bottom, lightblue, rgb(63, 130, 218)); 
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1; 
    -webkit-transform: skewX(35deg); 
    transform: skewX(35deg); 
}

.breadcrumb li a:before { 
    content: " "; 
    display: block; 
    width: 96%; 
    height: 50%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: -1; 
    background: linear-gradient(to bottom,  rgb(63, 130, 218), black); 
    -webkit-transform: skewX(-35deg); 
    transform: skewX(-35deg);
}

.breadcrumb li a:hover:after { 
    background: linear-gradient(to bottom, black,  rgb(63, 130, 218)); 
}

.breadcrumb li a:hover:before { 
    background: linear-gradient(to bottom,  rgb(63, 130, 218), lightblue); 
}

.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
  padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}

.paddingBetweenCols td
{
    padding:0 15px;
}

.confetti{
    max-width: 100%;
    display: block;
    user-select: none;
 }

/* Change layout of content based on screen size by querying device for width */

@viewport{
    width: device-width;
    zoom: 1.0;

}

/* Small devices or portrait mode */
@media (max-width: 575px)
{
    .navigation {
        left: -100%;
        height: calc(100vh - 60px);
        z-index: 90;
    }
    .navigation.active {
        left: 0px;
        width: 100%;
    }
    .main {
        margin-left:0px;
        width:100%;
        padding: 0px 0px 0px 5px;
        z-index: 80;
    }
    .main.deactive {
        width:0%;
        display: none;
    }
    .logo.deactive {
        width:0%;
        display: none;
    }
    .logo {
        left: -60px;
    }
    .collapse:not(.show){
        display: inline-block;
    }
    .toggle{
        position: absolute;
        top:0;
        right:0;
        width: 60px;
        height:60px;
        cursor: pointer;
        text-align: right;
        padding: 15px 15px 0px 10px;
    }
    .menu-container{
        position: absolute;
        top:0;
        right:0;
        width: 100%;
        height:60px;
        background: #593f75;
        position: sticky;
        z-index: 100;
    }
    .navbar-brand{
        color: #ffffff;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .brand-name{
        padding-left: 10px;
    }    
}

.pb-2 {
    padding-bottom: 0rem !important;
  }
  
.mb-3 {
    margin-bottom: 1rem !important;
  }
.rounded-3 {
    border-radius: 0.3rem !important;
}
.py-5 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    margin-left: -1rem;
}
.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 0rem !important;
}
.px-5 {
    padding-right: 1.5rem !important;
    padding-left: 2rem !important;
}
.px-md-5 {
    padding-right: 10rem !important;
    /*padding-left: 3rem !important;*/
    padding-left: -1rem !important;
}
.mb-5 {
    margin-bottom: 3rem !important;
}
.custom-row {
    /*--bs-gutter-x: 1.5rem;*/
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    /*margin-left: calc(-0.5 * var(--bs-gutter-x));*/
}
.custom-row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

.chart-container-1 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.chart-1 {
  flex: 0 0 auto;
  margin-right: 20px;
}

.chart-legends-1 {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px;
}

.chart-legend-1 {
  display: flex;
  align-items: center;
  margin: 5px;
}

  .form-floating {
    position: relative;
  }
  .form-floating > .form-control,
  .form-floating > .form-select {
    /*height: calc(3.5rem + 2px);
    line-height: 1.25;*/
    line-height: 1;
  }
  .form-floating > label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin-bottom: 0;
    /*padding: 1rem 0.75rem;*/
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .form-floating > label {
      transition: none;
    }
  }
  .form-floating > .form-control {
    /*padding: 1rem 0.75rem;*/
    padding: 0rem 0.5rem;
  }
  .form-floating > .form-control::-moz-placeholder {
    color: transparent;
  }
  .form-floating > .form-control:-ms-input-placeholder {
    color: transparent;
  }
  .form-floating > .form-control::placeholder {
    color: transparent;
  }
  .form-floating > .form-control:not(:-moz-placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
  }
  .form-floating > .form-control:not(:-ms-input-placeholder) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
  }
  .form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
    /*padding-top: 1.625rem;
    padding-bottom: 0.625rem;*/
    padding-bottom: 1;
  }
  .form-floating > .form-control:-webkit-autofill {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
  }
  .form-floating > .form-select {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
  }
  .form-floating > .form-control:not(:-moz-placeholder-shown) ~ label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  }
  .form-floating > .form-control:not(:-ms-input-placeholder) ~ label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  }
  .form-floating > .form-control:focus ~ label,
  .form-floating > .form-control:not(:placeholder-shown) ~ label,
  .form-floating > .form-select ~ label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  }
  .form-floating > .form-control:-webkit-autofill ~ label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  }


  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .form-control {
      transition: none;
    }
  }
  .form-control[type=file] {
    overflow: hidden;
  }
  .form-control[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer;
  }
  .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }
  .form-control::-webkit-date-and-time-value {
    height: 1.5em;
  }
  .form-control::-moz-placeholder {
    color: #6c757d;
    opacity: 1;
  }
  .form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
  }
  .form-control::placeholder {
    color: #6c757d;
    opacity: 1;
  }
  .form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
  }
  .form-control::-webkit-file-upload-button {
    padding: 0.375rem 0.75rem;
    margin: -0.375rem -0.75rem;
    -webkit-margin-end: 0.75rem;
            margin-inline-end: 0.75rem;
    color: #212529;
    background-color: #e9ecef;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .form-control::file-selector-button {
    padding: 0.375rem 0.75rem;
    margin: -0.375rem -0.75rem;
    -webkit-margin-end: 0.75rem;
            margin-inline-end: 0.75rem;
    color: #212529;
    background-color: #e9ecef;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .form-control::-webkit-file-upload-button {
      -webkit-transition: none;
      transition: none;
    }
    .form-control::file-selector-button {
      transition: none;
    }
  }
  .form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
    background-color: #dde0e3;
  }
  .form-control:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: #dde0e3;
  }
  .form-control::-webkit-file-upload-button {
    padding: 0.375rem 0.75rem;
    margin: -0.375rem -0.75rem;
    -webkit-margin-end: 0.75rem;
            margin-inline-end: 0.75rem;
    color: #212529;
    background-color: #e9ecef;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .form-control::-webkit-file-upload-button {
      -webkit-transition: none;
      transition: none;
    }
  }
  .form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
    background-color: #dde0e3;
  }
  
  .form-control-plaintext {
    display: block;
    width: 100%;
    padding: 0.375rem 0;
    margin-bottom: 0;
    line-height: 1;
    color: #212529;
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0;
  }
  .form-control-plaintext.form-control-sm, .form-control-plaintext.form-control-lg {
    padding-right: 0;
    padding-left: 0;
  }
  
  .form-control-sm {
    min-height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 1rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
  }
  .form-control-sm::-webkit-file-upload-button {
    padding: 0.25rem 0.5rem;
    margin: -0.25rem -0.5rem;
    -webkit-margin-end: 0.5rem;
            margin-inline-end: 0.5rem;
  }
  .form-control-sm::file-selector-button {
    padding: 0.25rem 0.5rem;
    margin: -0.25rem -0.5rem;
    -webkit-margin-end: 0.5rem;
            margin-inline-end: 0.5rem;
  }
  .form-control-sm::-webkit-file-upload-button {
    padding: 0.25rem 0.5rem;
    margin: -0.25rem -0.5rem;
    -webkit-margin-end: 0.5rem;
            margin-inline-end: 0.5rem;
  }
  
  .form-control-lg {
    min-height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
  }
  .form-control-lg::-webkit-file-upload-button {
    padding: 0.5rem 1rem;
    margin: -0.5rem -1rem;
    -webkit-margin-end: 1rem;
            margin-inline-end: 1rem;
  }
  .form-control-lg::file-selector-button {
    padding: 0.5rem 1rem;
    margin: -0.5rem -1rem;
    -webkit-margin-end: 1rem;
            margin-inline-end: 1rem;
  }
  .form-control-lg::-webkit-file-upload-button {
    padding: 0.5rem 1rem;
    margin: -0.5rem -1rem;
    -webkit-margin-end: 1rem;
            margin-inline-end: 1rem;
  }
  
  textarea.form-control {
    min-height: calc(1.5em + 0.75rem + 2px);
  }
  textarea.form-control-sm {
    min-height: calc(1.5em + 0.5rem + 2px);
  }
  textarea.form-control-lg {
    min-height: calc(1.5em + 1rem + 2px);
  }
  
  .form-control-color {
    width: 3rem;
    height: auto;
    padding: 0.375rem;
  }
  .form-control-color:not(:disabled):not([readonly]) {
    cursor: pointer;
  }
  .form-control-color::-moz-color-swatch {
    height: 1.5em;
    border-radius: 0.25rem;
  }
  .form-control-color::-webkit-color-swatch {
    height: 1.5em;
    border-radius: 0.25rem;
  }