{% extends 'base.html' %} 
{% load template_filters %}
{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="#">401K</a></li>
  </ul>
{% endblock %} 

{% block applicableactions %} 
    <a href="create"><i class="fa fa-plus" aria-hidden="true" title="Add 401K Account" style="font-size: 1.2em;"></i></a>
    <a style="padding-left:25px;" href="#" data-toggle="modal" data-target="#helpModal"><i class="fa fa-sharp fa-solid fa-question" aria-hidden="true" title="Help" style="font-size: 1.2em;"></i></a>
{% endblock applicableactions %}
{% block canvas %}{% endblock canvas %}

{% block content %}
<table class="table table-borderless">
  <tr>
    <td><ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">Accounts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="links">Links</a>
      </li>
    </ul></td>
  </tr>
  <tr></tr>
  <tr>
    <td style="text-align:right">
      <div class="row">
        <div class="col-sm-6 col-lg-2 col-md-3">
          <div class="card bg-light">
            <div class="card-body">
                <h6 class="card-title">Total Investment</h5>
                <p class="card-text">{{preferred_currency}} {{total_investment}}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-2 col-md-3">
          <div class="card bg-light">
            <div class="card-body">
                <h6 class="card-title">Current Value</h5>
                <p class="card-text">{{preferred_currency}} {{latest_value}} </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-2 col-md-3">
          <div class="card bg-light">
            <div class="card-body">
                <h6 class="card-title">Gain</h5>
                <p class="card-text">{{preferred_currency}} {{total_gain}}</p>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
</table>
  <table class="table table-hover dt-responsive" id="accounts-table" style="width:100%">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Company</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">User</th>
        <th scope="col">Goal</th>
        <th scope="col">Total Contribution ($)</th>
        <th scope="col">Latest Value ({{preferred_currency}})</th>
        <th scope="col">Gain ({{preferred_currency}})</th>
        <th scope="col">As on Date</th>
        <th scope="col">ROI (%)</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for instance in accounts %}
      <tr>
        <th scope="row">{{ instance.id }}</th>

        <td>
          <a href="{% url 'retirement_401k:account-detail' instance.id %}">{{ instance.company }}</a>
        </td>
        <td>{{ instance.start_date }}</td>
        <td>{{ instance.end_date }}</td>
        <td>{{ instance.user }}</td>
        <td>{{ instance.goal }}</td>
        <td>{{ instance.total }}</td>
        <td>{{ instance.latest_value }}</td>
        <td>{{ instance.gain }}</td>
        <td>{{ instance.as_on_date }}</td>
        <td>{{ instance.roi }}</td>
        <td>
          <a href="{% url 'retirement_401k:account-delete' instance.id %}" class="confirm-delete"><i class="fa fa-trash" aria-hidden="true" title="Delete Account"></i> </a>
          <a href="{% url 'retirement_401k:account-update' instance.id %}"><i class="far fa-edit" aria-hidden="true" title="Edit Account"></i> </a>
          <a href="{% url 'retirement_401k:transaction-list' instance.id %}"><i class="far fa-file-alt" aria-hidden="true" title="View Transactions"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}


<!-- Help Modal -->
{% block helpmodaltitle %}
  401K Retirement
{% endblock helpmodaltitle %}

{% block helpmodalsummarybody %}
View, add, edit or delete your 401K accounts.
Update the month end NAV and transactions to closely monitor your progress towards that much needed retirement.
{% endblock helpmodalsummarybody %}

{% block helpmodalnavigationbody %}
  <li>
    <i class="fa fa-plus"></i> - Add 401K account
  </li>
  <li>
    <i class="fa fa-bell"></i> - Investment/asset alerts
  </li>
{% endblock helpmodalnavigationbody %}

{% block helpmodaltasksbody %}
<li>
  From the goals page (<i class="fas fa-bullseye"></i>), configure a goal to track your transactions against. <strong> (Optional) </strong>
</li>
<li>
  Create users through the Users (<i class="fas fa-users"></i>) page. Transactions accross the app are tied to a user. <strong> (Optional) </strong>
</li>
<li>
  Add 401K accounts (<i class="fa fa-plus"></i>) that you want to track.
</li>
<li>
  View and Add transactions (<i class="far fa-file-alt"></i>) for each account.
</li>
<li>
  Edit 401K account (<i class="far fa-edit"></i>) details.
</li>
{% endblock helpmodaltasksbody %}

{% block javascript %}
  <script>
    $(document).on('click', '.confirm-delete', function(){
      return confirm('Are you sure you want to delete this account?');
    })
</script>
{% endblock javascript %}

<script>
  {% block jquery %}
  $('#accounts-table').DataTable({
        "order": [[ 0, "desc" ]]
    } );
  {% endblock jquery %}
</script>