{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="{% url 'retirement_401k:account-list' %}">401K</a></li>
    <li><a href="{% url 'retirement_401k:account-detail' id %}">{{company}}</a></li>
    <li><a href="#">{{operation}} Transaction</a></li>
  </ul>
{% endblock viewname %}

{% block content %}
  <section class="py-5">
    <div class="container px-5 ml-3">
      <div class="rounded-3 py-5 px-4 px-md-5 mb-5">
        <div class="custom-row gx-5 justify-content-flex-start">
          <div class="col-lg-8 col-xl-6">
            <form action="." method="POST">
              {% csrf_token %}
              <div class="custom-row">
                  {% if message_color == 'green' %}
                  <div class="alert alert-success fade in alert-dismissible show" style="margin-top:18px;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true" style="font-size:20px">×</span>
                    </button>    <strong>Success!</strong> {{message}}
                  </div>
                  {% elif message_color == 'red' %}
                  <div class="alert alert-danger fade in alert-dismissible show" style="margin-top:18px;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true" style="font-size:20px">×</span>
                    </button>    <strong>Error!</strong> {{message}}
                  </div>
                  {% endif %}

                  <div class="form-floating mb-3">
                    <div class="pb-2"><label for="trans_date">Transaction Date <span style="color:red;">*</span></label></div>
                    <input class="form-control" type="date" id="trans_date" name="trans_date" value="{{trans_date}}" required="true">
                  </div>

                  <div class="form-floating mb-3">
                    <div class="pb-2"><label for="ee_contrib">Employee Contribution <span style="color:red;">*</span></label></div>
                    <input class="form-control" type="number" id="employee_contribution" name="employee_contribution" value="{{employee_contribution}}" step="0.000001" required="true">
                  </div>

                  <div class="form-floating mb-3">
                    <div class="pb-2"><label for="er_contrib">Employer Contribution <span style="color:red;">*</span></label></div>
                    <input class="form-control" type="number" id="employer_contribution" name="employer_contribution" value="{{employer_contribution}}" step="0.000001" required="true">
                  </div>

                  <div class="form-floating mb-3">
                    <div class="pb-2"><label for="quantity">Units <span style="color:red;">*</span></label></div>
                    <input class="form-control" type="number" id="units" name="units" value="{{units}}" step="0.000001" required="true">
                  </div>

                  <div class="form-floating mb-3">
                    <div class="pb-2"><label for="notes">Notes</label></div>
                    <textarea class="form-control" name="notes">{{notes|default_if_none:""}}</textarea>
                  </div>

                  <div class="form-floating mb-3">
                    <button type="submit" class="btn btn-primary" name="submit">Submit</button>
                    <a href="{% url 'retirement_401k:transaction-list' id %}" class="btn btn-danger" role="button">Cancel</a>
                  </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
