{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="{% url 'retirement_401k:account-list' %}">401K</a></li>
    <li><a href="{% url 'retirement_401k:account-detail' id %}">{{company}}</a></li>
    <li><a href="#">Add NAV</a></li>
  </ul>
{% endblock viewname %}

{% block content %}
  <form action="." method="POST">
    {% csrf_token %}
    <div class="row">
      <div class='col-sm-6'>
        
        {% if message_color == 'green' %}
        <div class="alert alert-success fade in alert-dismissible show" style="margin-top:18px;">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true" style="font-size:20px">×</span>
           </button>    <strong>Success!</strong> {{message}}
        </div>
        {% elif message_color == 'red' %}
        <div class="alert alert-danger fade in alert-dismissible show" style="margin-top:18px;">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true" style="font-size:20px">×</span>
           </button>    <strong>Error!</strong> {{message}}
         </div>
        {% endif %}
        <h4>Add end of month NAV</h4><br>
        <div class="form-group row">
          <label for="trans_date" class="col-sm-3 col-form-label">Date <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <input type="date" id="nav_date" name="date" value="{{date}}" required="true">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="quantity" class="col-sm-3 col-form-label">NAV <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <input type="number" id="nav" name="nav" value="{{nav}}" step="0.000001" required="true">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <div class="md-form mt-0">
              <button type="submit" class="btn btn-primary" name="submit">Submit</button>
              <a href="{% url 'retirement_401k:account-detail' id %}" class="btn btn-danger" role="button">Cancel</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>

{% endblock content %}
