{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="{% url 'retirement_401k:account-list' %}">401K</a></li>
    <li><a href="{% url 'retirement_401k:account-detail' id %}">{{company}}</a></li>
    <li><a href="#">{{operation}} Transaction</a></li>
  </ul>
{% endblock viewname %}

{% block content %}
  <form action="." method="POST">
    {% csrf_token %}
    <div class="row">
      <div class='col-sm-6'>
        <div class="form-group row">
          <label for="trans_date" class="col-sm-3 col-form-label">Transaction Date <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <input type="date" id="trans_date" name="trans_date" value="{{trans_date}}" required="true">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="ee_contrib" class="col-sm-3 col-form-label">Employee Contribution <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <input type="number" id="quantity" name="employee_contribution" value="{{employee_contribution}}" step="0.000001" required="true">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="er_contrib" class="col-sm-3 col-form-label">Employer Contribution <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <input type="number" id="quantity" name="employer_contribution" value="{{employer_contribution}}" step="0.000001" required="true">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="quantity" class="col-sm-3 col-form-label">Quantity <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <input type="number" id="units" name="units" value="{{units}}" step="0.000001" required="true">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="notes" class="col-sm-3 col-form-label">Notes</label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <textarea name="notes" rows="5" cols="20">{{notes}}</textarea>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <div class="md-form mt-0">
              <button type="submit" class="btn btn-primary" name="submit">Submit</button>
              <a href="../.." class="btn btn-danger" role="button">Cancel</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>

{% endblock content %}
